/*
Theme Name: fvn-landingsside
Theme URI: http://leser.fvn.no/
Author: Fædrelandsvennen
Author URI: http://www.fvn.no
Description: fvn landingsside, reactor version 2015
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html

/*--------------------------------------------------------------
1.0 Normalize
--------------------------------------------------------------*/
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

/*--------------------------------------------------------------
2.0 Styles for Fædrelandsvennen F+ by Radiator
 * 
 * @author Rehan Anwar
 */

/* General Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-tap-highlight-color: rgba(0,37,97,0);
}
*, *:before, *:after {
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;

  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

h3 {
  margin: 0 20px 50px;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}

.clearfix:before,
.clearfix:after,
.section-lefty:after,
.section-lefty:before,
.section-righty:before,
.section-righty:after,
.site-footer:before,
.site-footer:after {
  content: " ";
  display: table;
  clear: both;
}

.page-width {
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
  padding: 0 15px;
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a.button{ 
	display: inline-block;
	text-decoration: none;
}

.button {
  border: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 15px 10px;
  color: #fff;
  font-size: 18px;

  -webkit-transition: background-color 300ms;
  -moz-transition: background-color 300ms;
  -ms-transition: background-color 300ms;
  -o-transition: background-color 300ms;
  transition: background-color 300ms;
}

.button-blue {
  background-color: rgba(0, 150, 255, 1);
}
.button-blue:hover {
  background-color: rgba(0, 150, 255, 0.8);
}

.button-blue.dark {
  background-color: rgba(2, 120, 203, 1);
}
.button-blue.dark:hover {
  background-color: rgba(2, 120, 203, 0.8);
}

.button-blue.darker {
  background-color: rgba(0, 101, 156, 1);
}
.button-blue.darker:hover {
  background-color: rgba(0, 101, 156, 0.8);
}

.button-green {
  background-color: rgba(67, 172, 106, 1);
}
.button-green:hover {
  background-color: rgba(67, 172, 106, 0.8);
}

.download-icon {
  margin-top: 10px;
}

/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.header-wrapper blockquote,
.personal .banner blockquote,
.personal .banner svg {
  display: none;
}

/* Hide the header on mobile devices */
.header-wrapper.xs-top-bar-only .site-header {
  min-height: 60px;
  background-image: none;
}
.xs-top-bar-only.personal .page-width {
  padding-top: 35px;
}
.xs-top-bar-only .banner-wrapper-parent {
  display: none;
}
.xs-top-bar-only .sub-header {
  display: none;
}


.top-bar {
  background-color: #00285f;
  opacity: 0.85;
  height: 60px;
}

.site-header .top-bar .page-width {
  padding: 0 15px;
  text-align: left;
}

.top-logo {
  margin-top: 14px;
  width: 204px;
}

.login-wrapper {
  float: right;
  margin-top: 9px;
  color: #8095b7;
  font-size: 16px;
}

.top-bar .button-login {
  font-size: 16px;
  height: 40px;
  padding-top: 14px;
  padding-left: 30px;
  background-image: url('/images/icon-lock@2x.png');
  -webkit-background-size: 12px 14px;
  background-size: 12px 14px;
  background-repeat: no-repeat;
  background-position: 14px 14px;
}

.button-login-txt,
.button-login-pretext {
  display: none;
}

/* Header - personal style
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.personal {
  min-height: 490px;
  height: auto;
  text-align: center;

}

/* hack temp */
.personal img {  position: absolute;  left: 0; }
.personal .banner-wrapper { 	position: absolute;  	right: 0; }

.personal h1 {
  text-shadow: 2px 4px 3px rgba(255,255,255,0.3);
  font-size: 26px;
  font-weight: 700;
  color: #182c47;
  text-align: center;
}

.personal h2 {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 120px;
}

.personal blockquote {
  margin: 0;
  display: block;
  text-align: center;
  font-size: 16px;
  color: #182c47;
}


/* Tooltip theme
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.tooltip-theme-fvn {
  border-radius: 5px;
  border: 1px solid #000;
  background: #252525;
  color: #fff;
}
/* Use this next selector to style things like font-size and line-height: */
.tooltip-theme-fvn .tooltipster-content {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  padding: 8px 10px;
}


/* Box
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.box-wrapper-parent {
  margin-top: 30px;
  margin-bottom: 30px;
}

.box {
  margin-bottom: 30px;
  background-color: #fff;
  font-size: 16px;

  border: 1px solid #e7e7ee;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;

  -webkit-transition: transform 1s ease-in-out;
  -moz-transition: transform 1s ease-in-out;
  -o-transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
}

.box ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.box li {
  text-align: center;
  border-bottom: 1px solid #e7e7ee;
}

.box li:last-child {
  border-bottom: 0;
}

.box .box-header {
  background-color: #f3f3f9;
  padding-top: 20px;
  border-bottom: 0;
}

.box h3 {
  margin: 0;
  font-size: 30px;
  font-weight: 600;
}

.box-price {
  background-color: #f3f3f9;
  color: #008bfe;
  font-size: 21px;
  font-weight: 600;
  padding: 20px;
}

.box-subtitle {
  padding: 20px;
}

.box .read-more {
  text-align: left;
  cursor: pointer;
  padding: 10px 0;
}

.box .icon-plus {
  color: #008bfe;
  font-size: 20px;
  font-weight: 600;
  padding-right: 4px;
  cursor: pointer;
  width: 20px;
  float: left;
}

.box-features .item-content {
  width: 100%;
  margin-left: 20px;
  margin-top: 2px;
}

.box-features .icon-info {
  cursor: pointer;
  vertical-align: middle;
}

/* Target the actual list item icons */
.box-features li .icon-plus {
  margin-top: -2px;
}

.box-features {
  padding: 10px 20px;
}

.box-features ul {
  display: none;
  margin-top: 10px;
}

.box-features li {
  border-bottom: 0;
  text-align: left;
  margin-bottom: 7px;
  -webkit-background-size: 10px;
  background-size: 10px;
}

.box-subscribe {
  padding: 5px;
}

.box-subscribe .button-blue,
.box-subscribe .button-green {
  width: 100%;
}

.box-terms {
  display: block;
  border: 0;
  padding: 10px 5px;
  font-size: 14px;
  color: #ababab;
}

/* Box - digital
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.box-digital h3 {
  background: url('/images/icon-digital.png') no-repeat top center;
  -webkit-background-size: 76px 41px;
  background-size: 76px 41px;
  padding-top: 50px;
}

/* Box - weekend
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.box-weekend h3 {
  background: url('/images/icon-weekend.png') no-repeat top center;
  -webkit-background-size: 127px 41px;
  background-size: 127px 41px;
  padding-top: 50px;
}

/* Box - full
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.box-full h3 {
  background: url('/images/icon-full.png') no-repeat top center;
  -webkit-background-size: 126px 73px;
  background-size: 126px 73px;
  padding-top: 82px;
}

/* Box - compact
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.box-compact .box {
  border: 0;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.box-compact .box-header {
  float: left;
  width: 70%;
  height: 60px;
  text-align: left;
  padding: 10px;

  border-bottom: 1px solid #e7e7ee;
  border-top: 1px solid #e7e7ee;
  border-left: 1px solid #e7e7ee;

  border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
}

.box-compact h3 {
  padding-top: 0;
  padding-left: 48px;
  font-size: 21px;
  text-align: left;
}

.box-compact.box-digital h3 {
  margin-top: 5px;
  background: url('/images/icon-digital.png') no-repeat 0 50%;
  -webkit-background-size: 38px 20px;
  background-size: 38px 20px;
}

.box-compact.box-weekend h3 {
  margin-top: 5px;
  background: url('/images/icon-weekend.png') no-repeat 0 50%;
  -webkit-background-size: 63px 20px;
  background-size: 63px 20px;
  padding-left: 70px;
}

.box-compact.box-full h3 {
  background: url('/images/icon-full.png') no-repeat 0 0;
  -webkit-background-size: 63px 36px;
  background-size: 63px 36px;
  padding-top: 4px;
  padding-left: 73px;
  height: 40px;
}

.box-compact .box-price {
  float: left;
  font-size: 14px;
  font-weight: 400;
  width: 30%;
  height: 60px;
  padding: 10px;

  border-left: 1px solid #e7e7ee;
  border-top: 1px solid #e7e7ee;
  border-right: 1px solid #e7e7ee;

  border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
}

.box-compact .box-subtitle {
  display: none;
}

.box-compact .box-subscribe {
  padding-top: 0;
  border-left: 1px solid #e7e7ee;
  border-right: 1px solid #e7e7ee;

  border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;

  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
}

.box-compact .button-blue {
  margin-top: 5px;
}

/* Tiles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.tiles-wrapper {
  margin-top: 50px;
  padding: 45px 0 1px;
  background-color: #f9fafb;
}

.tiles section {
  margin: 0 20px 75px;
}

.tiles section h3 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
}

.tiles section h4 {
  font-weight: 600;
  margin: 0;
  font-size: 20px;
}



/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.site-footer {
  margin-top: 30px;
  text-align: center;
}

.footer-logo {
  margin: 50px 0 25px;
  width: 80%;
}

.footer-links {
  margin-bottom: 100px;
}

.footer-links a {
  margin-bottom: 5px;
  text-decoration: none;
  color: #000;
  font-size: 14px;
}

.footer-links a:first-child {
  margin-right: 20px;
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Larger than phablet */
@media (min-width: 550px) {

  .box-features {
    display: block;
    text-align: left;
  }

  .box-features ul {
    list-style: none;
    margin: 0;
    padding:0;
  }

  .box-features li {
    text-align: left;
  }

  .header-wrapper.xs-top-bar-only .site-header {
    min-height: 70px;
  }
  .top-bar {
    height: 70px;
  }

  .top-logo {
    width: 280px;
  }

  .top-bar .button-login {
    height: 50px;
    background-position: 13px 18px;
  }

  .button-login-txt {
    display: inline;
  }

}

/* Tablet */
@media (min-width: 768px) {

  h3 {
    font-size: 36px;
  }

  .button-login-pretext {
    display: inline;
    margin-right: 10px;
  }

  /* Show the header on larger devices */
  .header-wrapper.xs-top-bar-only .site-header {
    min-height: 540px;
    background-image: url('/images/top-kvinne-kaffekopp-small.jpg');
  }
  .xs-top-bar-only .banner-wrapper-parent {
    display: block;
  }
  .xs-top-bar-only .sub-header {
    display: none;
  }

  .personal .site-header {
    min-height: 540px;
    background-image: url('/images/top-kvinne-kaffekopp-small.jpg');
    -ms-background-position-x: -400px;
    background-position-x: -400px;
  }

  .personal header .page-width {
    padding-top: 35px;
  }

  /* Banner */
  .personal .banner-wrapper {
    width: 390px;
    background-color: #fff;
    border: 5px solid #00285f;
    padding: 2px;
  }

  .personal .banner {
    background-color: #fff;
    border: 2px solid #00285f;
    padding: 0 20px 20px;
  }
  
  .personal .banner h1 {
    font-size: 26px;
    color: #33537f;
  }

  .personal .banner h2 {
    display: inline-block;
    width: 233px;
    margin: 0;
    padding: 20px 0 67px;
    font-size: 15px;
    background: #33537f url('/images/banner-flag-footer.png') no-repeat bottom center;
  }

  .personal .banner svg {
    display: inline;
  }

  .personal .banner blockquote {
    display: block;
    font-size: 16px;
    color: #33537f;
  }

  .personal .logo {
    position: absolute;
    top: 35px;
    left: 30px;
    width: 300px;
  }

  .personal .sub-header blockquote {
    display: none;
  }

  .box {
    margin-bottom: 20px;
  }

  .box-wrapper {
    width: 33.33333333333333%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }

  .box-digital .box-header,
  .box-weekend .box-header {
    padding-top: 52px;
  }

  .box-day {
    padding: 0 10px;
  }

  .box-day .box {
    text-align: center;
  }

  .box-day ul {
    width: 33.33333333333333%;
    display: inline-block;
  }

  .box-day .box-subscribe {
    padding: 10px;
  }

  .box-subtitle {
    min-height: 107px;
  }

  .box .read-more {
    display: none;
  }

  .box-features {
    padding: 20px;
  }

  .box-features ul {
    display: block;
  }

  .box-compact .box-header {
    width: auto;
    float: none;
    padding: 10px;
    border-bottom: 0;
    border-right: 1px solid #e7e7ee;
    text-align: center;

    border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
  }

  .box-compact .box-header h3 {
    display: inline-block;
  }


  .box-compact .box-price {
    width: auto;
    height: auto;
    float: none;

    border-top-right-radius: 0;
  }

  /* Price on single line. */
  .box-compact .box-price .clearfix {
    display: none;
  }

  .tiles {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 15px;
  }

  /* Section lefty
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .section-lefty .section-image {
    float: left;
    margin-right: 50px;
    width: 45%;
  }

  .section-righty .section-image {
    float: right;
    margin-left: 50px;
    width: 45%;
  }

  .section-lefty .download-icon {
    margin-right: 15px;
  }
  
  .footer-logo {
    margin: 100px 0 25px;
    width: 400px;
  }

  .footer-links {
    margin-bottom: 200px;
  }

}

/* Larger than desktop */
@media (min-width: 1024px) {

  .personal .logo {
    width: auto;
  }

  .personal .site-header {
    -ms-background-position-x: -164px;
    background-position-x: -164px;
  }

  .box-subtitle {
    min-height: 0;
  }

}

/* Larger than Desktop HD */
@media (min-width: 1440px) {

  .personal .site-header {
    -ms-background-position-x: 0;
    background-position-x: 0;
  }

}