// ---------------------------------------------------------------------------------------------------------------------
// DrFront skin for Fædrelandsvennen
// FVN version: 2.0.7
// 17.10.2015 Atle Brandt
// ---------------------------------------------------------------------------------------------------------------------
// ---------------------------------------------------------------------------------------------------------------------
// Inital version with Bartosz Chucherko, and based on AP + aptoma demo skin
// Revised design by Jan Vennesland
// This file is using SCSS to produce the actual CSS. For syntax see http://sass-lang.com


// CONFIGURATION
$host: "//www.fvn.no"; //host url
$staticHost: "//static.fvn.no"; //needs SSL

// GRID
// see calculator: http://grids.heroku.com to see how grid is calculated
// modyfying parameters below will results in global layout changes!
$colWidth: 80px;
$numCol: 10;
$gutterWidth: 20px;
$fullWidth: 1000px;

$borderWidth: 4px;
$padding: 10px;
$alpha: 0.2;

// VARIABLES & MAP CONFIG FOR GLOBAL COLORS/THEMES
$f-sans: Arial,  sans-serif;
$f-bold: "Arial Black", Arial, Avenir-Black, sans-serif;
$f-serif: Georgia, serif;
$defaultFontSize: 16px;

$f-plusGlyph: "\e604";

// FVN color palette  current and old variations
$f-black:       #333;
$f-darkGray:      #999;
$f-lightGray:     #ededed;
$f-white:         #fff;

// Default, text, dark
$f-blue:        #00659c;
$f-lightBlue:     #009fda;
$f-darkBlue:      #002c5f;

// skin colors logic names and section info
$f-green:       #7f9943; // Naert/Folk
$f-violet:      #ae277e; // Kultur
$f-red:         #cc2028; // Sport
$f-khaki:       #B3A897; // adjusted  
$f-brown:       #993300; // Debatt 2
$f-turquoise:   #089ea1; // Bolig
$f-lime:        #c2c936; // Reise
$f-azure:       #1baada; // Motor
$f-orange:      #be6624; // God Helg
$f-pink:        #f35a5c; // Rega

$f-start: #ffe000; //yellow

// external colors 
$krs-best:      #589ca6; 
$krs-base:      #1e2b2f;
$krs-red:       #e44f4c;
$kavis-base:     #f06220;
$vg-godt:       #5C4F4A;

// reuse f-colors, common names for ease of comparison with SA, BT
$backgroundColor:    #e6e6e6;
$bodyContentColor:   $f-white;
$defaultBgColor:     $f-white;
$defaultTextColor:   $f-black;
$defaultTitleColor:  $f-black;
$defaultLinkColor:   $f-lightBlue;
$defaultHoverColor:  $f-darkBlue;
$defaultBorderColor: $f-blue;

// container
$containerBorderWidth:          $borderWidth;     // top & bottom border width for container themes
$containerHeaderHeight:         2*$padding;    // header height or line-height (article)
$containerHeaderTextColor:      $f-white;    // default header text color for container
// article
$articleHeaderBgColor:          $f-blue;
$articlePadding:                $padding;    // padding inside article container, used to recalculate alignment, etc.
$imageFloatedMargin:            $padding;    // margin used for floated images on a side of an image


@function getTheme($themeName) {
    @return map-get($themes, $themeName);
}
// $themes map is used as a config space for generating skins for containers & articles
// if you need to add additional theme just duplicate existing one, assign a new name
// and put all needed key:values - then render the skin by invoking proper  mixin in 'generate skins' section
// Naming rule: Theme-name, starting with capital letter, names are used in backend
// to generate proper Skin names in Dr Front, i.e Light-grey will create class '.df-skin-Light-grey'
//
$themes: (
    // List of all possible values:
    // bgColor, textColor, solid (bool, default false and background alpha)
    // use only those value that override the default parameters
        Nyheter: (
                bgColor: $f-blue
        ),
        hel-Svart:    (
                bgColor: $f-black,
                textColor: $f-white,
                solid: true
        ),
        hel-Graa:    (
                bgColor: $f-darkGray,
                solid: true
        ),
        hel-Graa-lys:    (
                bgColor: $f-lightGray,
                textColor: $f-black,
                solid: true
        ),

        Sport: (
                bgColor: $f-red
        ),
        Kultur: (
                bgColor: $f-violet
        ),
        Bolig: (
                bgColor: $f-turquoise
        ),
        Mening: (
                bgColor: $f-khaki,
                //textColor: $f-brown,
                solid: true
        ),
        Reise: (
                bgColor: $f-lime
        ),
        Motor: (
                bgColor: $f-azure
        ),
        Folk: (
                bgColor: $f-green
        ),
        GodHelg: (
                bgColor: $f-orange
        )
);

$externalThemes: (
        KrsBy: (  headerColor: $krs-red      ),
        LSport: (  headerColor: $f-red        ),
        LKultur: (  headerColor: $f-violet    ),
        KAvis: (  headerColor: $kavis-base    )
);

// VARIOUS MIXINS & PLACEHOLDERS - used with @extend
@mixin f-icon($bg:true) {
    font-family: fvnicon;
    font-weight: normal;
    color: $f-white;
    @if $bg {
        background-color: #000;
        background-color: rgba(0,0,0,0.65);
    }              
}

@mixin box-sizing($box-model) {
    -webkit-box-sizing: $box-model; // Safari <= 5
    -moz-box-sizing: $box-model; // Firefox <= 19
    box-sizing: $box-model;
}

@mixin paddedImg($padding){
    //TODO: rewrite to one @if... or two mixins
    @if $padding {
        padding: $padding $padding $padding;
    } @else {
        padding: 0 0 $padding;
    }

    .df-img-container {
        @if $padding {
            margin-left: -$padding;
        } @else {
            margin-left: 0;
        }
    }
    .df-img-container-inner {
        @if $padding {
            padding: 0 $padding 0;
        } @else {
            padding: $padding 0;
        }
    }
}

// Grid cell function - used for creating the grid
@function grid($grid-n, $grid-colWidth, $grid-gutterWidth) {
    @return $grid-n * $grid-colWidth + ($grid-n - 1) * $grid-gutterWidth;
}



// Fonts - external fonts for a mediahouse
// Custom fvn font only, no generic icon font for now
@font-face {
    font-family: 'fvnicon';
    src:url($staticHost + '/fonts/fvnicon/fvnicon.eot?-wglozz');
    src:url($staticHost + '/fonts/fvnicon/fvnicon.eot?#iefix-wglozz') format('embedded-opentype'),
        url($staticHost + '/fonts/fvnicon/fvnicon.woff?-wglozz') format('woff'),
        url($staticHost + '/fonts/fvnicon/fvnicon.ttf?-wglozz') format('truetype'),
        url($staticHost + '/fonts/fvnicon/fvnicon.svg?-wglozz#fvnicon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family:SteelfishRegular;
    src:url($staticHost + '/fonts/krsby/steelfish_rg-webfont.eot');
    src:url($staticHost + '/fonts/krsby/steelfish_rg-webfont.eot?#iefix') format("embedded-opentype"),
    url($staticHost + '/fonts/krsby/steelfish_rg-webfont.woff') format("woff"),
    url($staticHost + '/fonts/krsby/steelfish_rg-webfont.ttf') format("truetype"),
    url($staticHost + '/fonts/krsby/steelfish_rg-webfont.svg#SteelfishRgRegular') format("svg");
    font-weight:400;
    font-style:normal;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}



// MAIN CONTAINER
// Container for the entire front
// Negative margin is used to facilitate proper aligning of drFront content inside MNO Grid
#drfront {
    background-color: $bodyContentColor;
    font-family: $f-sans;
    font-size: $defaultFontSize;
    margin: 0 -($gutterWidth / 2);
    padding: 0;
    width: $fullWidth;

    a {
        text-decoration: none;
    }

    p {
        line-height: 1.1;
    }

    // CONTAINER BLOCK -----------------------------------------------------------------------------------------------------
    //
    // Used for styling whole container / group of articles.
    // These will be parsed and put into menus in the backoffice.
    // Naming rule: .df-container.df-skin-* is a container skin.
    // Themes are generated automatically with use of the script & themes from config.

    // CONTAINER
    // Sets the width of df-container to maximum grid size to facilitate proper alignment
    // i.e. 980px,  not default 100% which would be 1000px
    .df-container {
        width: $fullWidth; //1000px
        margin: $padding 0 0; //apply margin to align with grid
        position: relative;

        .df-container-inner {
            position: inherit;
        }
        .df-container-header-inner,
        .df-container-footer-inner {
            margin: 0 $padding;
        }

        // FVN base style is no header visible in container
        .df-container-header-inner {
            display: none
        }

        .df-container-header-inner:empty {
            padding: 0;
        }

        .df-article { // remove default margin when inside container
            margin-top: $padding;
        }

        // THEME CONTAINERS
        // Those containers have to align with the grid (980px) and also
        // have different padding to accomodate coloured background
        &[class*="df-skin-row-"] {
            width: $fullWidth;
            margin: $padding 0 0; //apply default article margin to align with grid

            .df-container-inner {
                padding-bottom: $padding;
                position: relative;
            }

            .df-container-header-inner {
                display: block;
                font-weight: normal;
                font-size: 18px;
                text-transform: uppercase;
                padding-top: $borderWidth;
            }
        }

    }

    // CONTAINER SKINS
    // 1) mixin - create skins for container based on $themes config and util function getTheme
    @mixin containerTheme( $opts ){
        $color: map_get($opts, bgColor);
        $textColor: map_get($opts, textColor);
        $solid: map_get($opts, solid);

        // inverse or special title color
        @if $textColor {
            & .df-container-header {
                color: $textColor;
            }
        }

        @if $solid {
            background: $color;

            .df-article-content {
                color: $textColor;

                h3, h3 a, h4 {
                    color: $textColor;
                    padding: 0;
                }
            }
        }
        @else {
            background: rgba($color, $alpha);
        }
    }

    // 2) generate skins for all defined $themes
    .df-container {
        @each $theme in map-keys($themes) {
            &.df-skin-row-#{$theme} {
                @include containerTheme(  getTheme($theme) );
            }
        }
    }

    // if you need to override or extend automatic themes, please do so
    // using the structure like below:
    //
    //    .df-container {
    //        &.df-skin-ThemeName {
    //            border: 2px solid #333;
    //       }
    //    }

    // ARTICLE BLOCK -------------------------------------------------------------------------------------------------------

    // OUTER CONTAINER FOR AN ARTICLE & WIDGET ROW
    // (use of padding here will break things because of the box-model)
    .df-article, .df-widget {
        @include box-sizing(border-box);

        padding: 0;
        margin: $gutterWidth ($gutterWidth / 2) 0;
        overflow: hidden;
    }

    // ARTICLE WIDTHS
    // The different article sizes
    // i.e. .df-article.df-width-80 creates 8 column cell
    //
    // Article widths are parsed and used to populate width-menu in backoffice.
    // Naming rule: .df-article.df-width-*

    .df-article, .df-widget {
        overflow-x: hidden;

        &.df-width-100 {
            width: grid(10, $colWidth, $gutterWidth);
        }
        &.df-width-80 {
            width: grid(8, $colWidth, $gutterWidth);
        }
        &.df-width-70 {
            width: grid(7, $colWidth, $gutterWidth);
        }
        &.df-width-60 {
            width: grid(6, $colWidth, $gutterWidth);
        }
        &.df-width-50 {
            width: grid(5, $colWidth, $gutterWidth);
        }
        &.df-width-40 {
            width: grid(4, $colWidth, $gutterWidth);
        }
        &.df-width-35 {
            width: grid(3.5, $colWidth, $gutterWidth);
        }
        &.df-width-30 {
            width: grid(3, $colWidth, $gutterWidth);
        }
        &.df-width-20 {
            width: grid(2, $colWidth, $gutterWidth);
        }
    }

    .df-autorow {
        .df-article, .df-widget {
            margin-top: 0px;
        }
    }

    // ARTICLE HEADER
    .df-article-header a {
        padding: 0;
    }
    .df-article-header-inner {
        padding: ($padding - 1) $padding 0;
    }

    h4, h4 a, h4 span {
            font-weight: normal;
            font-size: 22px !important;
        }
    .df-width-50, .df-width-40, .df-width-35, .df-width-30, .df-width-20 {
       h4, h4 a, h4 span {
        font-size: 18px !important;
      }
    }

    // INNER CONTAINER FOR AN ARTICLE
    // (padding can be used here)
    .df-article-content {
        padding: 0;
        position: relative;

        // title h3, subtitle h4, lead p
        h3, h4 {
            color: $defaultTitleColor;
            font-family: $f-sans;
            position: relative;
            margin: 0 0 $padding/2;
        }
        h3 {
            font-weight: bold;
        }
        
        p {
            margin: 0 0 $padding/2;
            overflow: hidden;
            a {
                color: $defaultLinkColor;
            }
        }
        a {
            color: inherit;
            text-decoration: none;
        }

        // Article image container
        .df-img-container {
            margin: 0 0 $padding/2 0;

            &.df-left {
                margin-right: $padding;
            }
            &.df-right {
                margin-left: $padding;
            }
            &.df-center {
                margin: 0 auto !important;
            }
            a {
                text-decoration: none;
            }
        }
    }

    .df-img-layer {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    // ARTICLE THEMES/SKINS
    // Used for styling particular article.
    // These will be parsed and put into menus in the backoffice.
    // Naming rule: .df-article.df-skin-* is an article skin. Start skin name with capital letter.

    .df-article {

        &[class*="df-skin-art-"] {

            
            .df-article-content{
                padding-bottom: $padding/2;
    
            }
            
            h3, h4, p {
                padding: 0 $padding;
            }
        }

        &[class*="df-skin-xtn-"], &.df-skin-art-Mening, &.df-skin-art-GodHelg  {
            .df-img-layer {
                @include box-sizing(border-box);
                top: auto;
                z-index: 10;
            }

            .df-img-layer:before {
                bottom: 9px;
                left: 8px;
                padding: 4px;
                font-family: $f-bold;
                font-size: 11px;
                letter-spacing: 0.06em;
                text-transform: uppercase;
                background-color: $f-white;
                position: inherit;
            }
        }

        &.df-skin-art-Mening.df-skin-paywall-closed, &.df-skin-art-GodHelg.df-skin-paywall-closed{
            .df-img-layer:before {
                left: 31px;
            }
        }
        &.df-skin-xtn-Bedrift.df-skin-paywall-closed {
            .df-img-layer {
                left: 31px;
            }
            .df-img-layer::after{
                left: -26px;
                bottom: 1px;
            }
        }

        &.df-skin-theme-Feature {
            .df-article-header {
                display: none;
            }

            &.df-article-content {
                padding: 0;
            }

            h3 {
                bottom: 15%;
                color: $f-white;
                font-family: $f-serif;
                font-weight: bold;
                font-size: 30px;
                left: 0;
                padding: 0 5%;
                position: absolute;
                right: 0;
                text-align: center;
                z-index: 15;
                margin: 0;
            }

            h3 + * {
                bottom: 5%;
                color: $f-white;
                padding: 0 10%;
                position: absolute;
                z-index: 15;
                left: 0;
                right: 0;
                text-align: center;
            }

            .df-img-layer {
                background: linear-gradient(to top, rgba(0, 0, 0, 0.65) 0%, transparent 40%) repeat scroll 0 0 transparent;
            }


        }

        &[class*="df-skin-art-"], &.df-skin-theme-Review  {
            .df-article-header-inner {
                font-family: $f-sans;
                font-size: 16px;
                line-height: 16px;
                font-weight: bold;
                text-transform: uppercase;
            }
            .df-article-header-inner:empty {
                padding: 0;
            }
        }
    }

    // 1) mixin - create skins
    @mixin articleTheme( $opts ){
        $color: map_get($opts, bgColor);
        $textColor: map_get($opts, textColor);
        $solid: map_get($opts, solid);

        // article rules
        & {
            .df-article-content .df-style-Temafarge { // editor skin, reuse brand color
                color: $color;
            }

            .df-article-content { // solid bg, baseline v2 
                @if $solid {
                    background: $color;
                    color: $textColor;

                    h3, h3 a, h4, h4 a {
                        color: $textColor;
                    }
                }
                @else {
                    background: rgba($color, $alpha);
                }
            }
        }

    }

    @mixin articleExternalTheme( $opts ){
        $color: map_get($opts, headerColor);

        .df-style-Temafarge {
            color: $color;
        }

        .df-img-layer:before{
            color: $color;
        }

    }

    // 2) generate article skins
    .df-article {
        @each $theme in map-keys($themes) {
            &.df-skin-art-#{$theme} {
                @include articleTheme( getTheme($theme) );
            }
        }

        @each $themeX in map-keys($externalThemes) {
            &.df-skin-xtn-#{$themeX} {
                @include articleExternalTheme( map-get($externalThemes, $themeX) );
            }
        }  

    }

    // 3) adjust automatic skins & add special ones
    // i.e:
    //    &.df-skin-Light-blue {
    //        @include articleTheme(#D6E3EB, 4px solid #ACC7D7);
    //    }
    .df-article {

        // hide from mobile fasten frontpage via json properties 
        &.df-skin-art-hideOnSmallScreen { 
            border: 0px solid white; 
        }
        
        // F+ paywall symbol for subscriber stories
        &.df-skin-paywall-closed {
            .df-img-layer::after {
                content: $f-plusGlyph;
                @include f-icon();
                padding: 2px;
                bottom: 7px;
                left: 7px;
                position: absolute;
            }

            h3::before {
                content: $f-plusGlyph;
                @include f-icon();
                padding: 5px;
                float: right;
            }

            .df-img-container ~ h3::before {
                display: none;
            }
        }


        &.df-skin-art-Mening, &.df-skin-art-GodHelg {
            h3, h4 {
                font-family: $f-serif;
            }
        }

        &.df-skin-art-Mening {
            .df-img-layer:before {
                content: "Mening";
                color: $f-khaki;
            }
        }
        &.df-skin-art-GodHelg {
            .df-img-layer:before {
                content: "godhelg";
                color: $f-orange;
            }
        }


        &.df-skin-xtn-LSport {
            .df-img-layer:before {
                content: "Lokalsporten";
            }
        }

        &.df-skin-xtn-LKultur {
            .df-img-layer:before {
                content: "Lokalkulturen";
            }
        }

        &.df-skin-xtn-KrsBy {
            .df-img-layer:before {
                content: "KRSby";
                text-transform: none;
                background-color: $krs-base;
            }
        }

        &.df-skin-xtn-KrsBy.df-skin-theme-Feature {
            h3 { 
                font-family: SteelfishRegular;
                text-transform: uppercase;
                font-size: 40px;
                letter-spacing: 0.05em; 
            }
            h3:before{
                content: "\e601";
                font-family: fvnicon;
                font-weight: normal;
                color: white;
                font-size: 50px;
                text-align: center;
                width: 100%;
                display: block;
                margin-bottom: $padding;
            }
            .df-img-layer:before { content: ""; }
        }


        &.df-skin-xtn-KAvis {
            .df-img-layer:before  {
                content: "Kristiansand Avis";
                font-size: 10px;
                font-family: serif;
            }
        }

        &.df-skin-xtn-Godt{
            .df-img-layer {
                height: 23px;
                width: 70px;
                background: url('http://www.fvn.no/skins/global/gfx/icons/godt-logo.png') no-repeat scroll 0 0/100% auto ;
                left: 6px;
                bottom: 6px;
            }
        }

        &.df-skin-xtn-Bedrift{
            .df-img-layer {
                height: 23px;
                width: 31px;
                background: url("http://media.fvn.no/tannhjul.png") no-repeat scroll 0 0/100% auto;
                left: 6px;
                bottom: 6px;
            }
        }


         // Reviews - Dice using fvn font (moved to image layer) and fixed violet bjelke
        &.df-skin-theme-Review {

          .df-article-header {
            background-color: transparent;
          }

          .df-article-header-inner {
            color: $f-violet;
          }

          h3, h4 {
            font-family: $f-serif;
            font-weight: normal;
          }
        }

        // F TV icon in old icon font re use for now,
        &.df-skin-theme-Video {
            .df-img-layer {
                position: absolute;
                display: block;
                z-index: 10;
            }
            .df-img-layer:before {
                content: "\e605";
                @include f-icon();
                font-size: 60px;
                line-height: 0.5;
                padding: 0 4px;
                bottom: $padding;
                left: 0;
                position: inherit;
            }

            &.df-width-50, &.df-width-40, &.df-width-35, &.df-width-30, &.df-width-20 {
                .df-img-layer:before {
                    font-size: 40px;
                    line-height: 0.6;
                }
            }
        }

        &.df-skin-theme-Live {
            .df-img-layer {
                position: absolute;
                display: block;
                z-index: 10;
            }
            .df-img-layer:before {
                content: "LIVE";
                font-size: 18px;
                bottom: 8px;
                left: 8px;
                position: inherit;
                background-color: $f-white;
                padding: 2px;
            }
        }

        
        //adjust margin for additional content
        .df-article-content h3 + * {
            margin-top: 5px;
        }

        // adjust paddings, margins for multiline titles
        .df-article-content h3 + h3 {
            padding-top: 0 !important;
            margin-top: -5px;
        }

    } // end .df-article


    // EDITOR SKINS --------------------------------------------------------------------------------------------------------
    //
    // Editor skins are those used for text.
    // These will be parsed and put into menus in the backoffice.
    // Naming rule: .df-style-* is an editor skin. Start skin name with capital letter.
    .df-style-Temafarge {
        font-family: inherit;
    }

    .df-style-Antikva {
        font-family: $f-serif;
        font-weight: normal;
    }

    .df-style-AntikvaFet {
        font-family: $f-serif;
    }

    .df-style-Tynn {
        font-weight: normal;
    }

    .df-style-Helfet {
        font-family: $f-bold;
        letter-spacing: -1px;
        font-weight: 900;
    }

    // IMAGE SKINS ---------------------------------------------------------------------------------------------------------
    //
    // Image skins are those used for images & image overlays.
    // These will be parsed and put into menus in the backoffice.
    // Naming rule: .df-img-container.df-skin-* is an image skin. Start skin name with capital letter.
    .df-img-container {
        position: relative;
        z-index: 10;
    }

    .df-img-container {
        $i: 6;
        @while $i > 0 {
            &.df-skin-reviewScore-#{$i}::before {  content: "#{$i}"; }
            $i: $i - 1;
        }

        &[class*="reviewScore"]::before {
            background-color: $f-violet;
            font-family: fvnicon;
            font-size: 20px;
            left: 32px;
            position: absolute;
            bottom: $borderWidth*2;
            color: $f-white;
            // fix for bad font icon corners:
            border-radius: .1em;
            width: 0.9em;
            height: 0.9em;
          }
    }

    [class*=".df-skin-art-"] [class*="reviewScore"]::before {
        left: $borderWidth + $padding;
    }

    // WIDGETS & ADS SKINS -------------------------------------------------------------------------------------------------

    .df-widget-row {
        // Row with external widgets
        .df-widget {
            &.df-left {
                float: left;
            }
            &.df-right {
                float: right;
            }
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }

        // this is used to adjust the position of the ad marker
        .df-ad-marker {
            margin-top: 0;
            padding-top: $gutterWidth;
        }

        .df-box-container {
            background-color: $bodyContentColor;
            border:  1px solid #ccc;
            padding: $padding;
        }
    }

    // controlling default sizing of widget heading / framework legacy
    .df-widget {
        section .header h2,
        article .header h2 {
            font-size: 14px;
        }
        a {
            color: $defaultTextColor;
        }
    }

    // autorows (ads...)
    .df-container.df-skin-AD-container {
        &.df-autorow {
            background-color: $backgroundColor;
            left: -1px;
            padding: $padding 0;
            position: relative;
            margin: 5px 0 0;
            width: $fullWidth + 2px;
        }

        &.df-row-20 {
            margin-top: 0px;
        }
    }

    // Native 1 margin fix
    .df-widget.df-width-40.df-ad-marker-bottom {
        margin-left: 0;
    }

    // Netboard 1 tag fix
    .df-width-40.df-row-8 {
        background: $f-white;
    }
    .df-width-40.df-row-8 .df-article-content {
        @include paddedImg($padding);
    }

    // ADDITIONAL CLASSES / FIX CONFLICT CLASSES
    //ECE font defaults from Din Web - needs twist
    h1, h2, h3, h4, h5, h6 {
        letter-spacing: -0.05em;
    }

    .df-container-header a, .df-container-header a:visited,
    .df-article-header a,  .df-article-header a:visited {
        color: inherit;
    }

    // reworked most read and latest list for fasten style 
    //TODO: move to fvnTweak - as module - time needs more specificity
    .singleLineList {
        .header {
            margin-top: 0;
            margin-bottom: 0;
            padding: 0 0 0 10px;
            border-top: 8px solid $f-blue;
            border-bottom: 1px solid $f-blue;
        }
        h2 {
            color: $f-blue;
            font-family: $f-sans;
            font-weight: 700;
            font-style: normal;
            font-size: 14px;
            letter-spacing: 0;
            line-height: 36px;
            text-rendering: optimizelegibility;
            text-transform: uppercase;
        }
        h2:before {
            @include f-icon( false );
            color: $f-blue;
            padding: 0 8px;
        }
        &.sistenytt h2:before {
            content: "\e613";
        }
        &.popularList h2:before {
            content: "\e612";
        }

        li {
            border-bottom: 1px dotted #002c5f;
            position: relative;
        }
        time {
            width: 50px;
            float: left;
            font-family: $f-sans;
            color: rgb(0, 101, 156) !important;
            line-height: 15px !important;
            padding-bottom: 0px;
        }

        a {
            font-family: $f-serif;
            font-weight: normal;
            color: $defaultTextColor;
        }

        span.icon.lock.opened { display: none; }
        li.closed { margin-right: 1px;}
        li.closed a:after {
            content: $f-plusGlyph;
            @include f-icon();
            font-size: 11px;
            padding: 3px;
            position: absolute;
            right: 0px;
            top: 4px;
        }

    }


    // Snippets - additional baseline CSS for snippets from exsisting ECE css
    // Breaking news snippet from mobile
    .df-article {
        &.df-width-50, &.df-width-40, &.df-width-35, &.df-width-30, &.df-width-20 {
            .moreToFollow {
                font-size: 14px;
            }        
        }

        .moreToFollow {
            color: $f-red;
            font-weight: bold;
            font-size: 20px;
            margin: 5px 0;
            text-transform: uppercase;
        }

        .moreToFollow:before {
            display: inline-block;
            content: '';
            border: .25em solid $f-red;
            border-radius: 50%;
            height: .6em;
            width: .6em;
            -webkit-animation: more-to-follow-pulse 1.4s ease-out;
            -webkit-animation-iteration-count: infinite; 
            position: relative;
            left: -1px;
            top: 3px;
        }
    }
    /* added inside widget row due to auto-magic in drfront parsing
        @-webkit-keyframes more-to-follow-pulse {
          0% { -webkit-transform: scale(0.1, 0.1); opacity: 0.0; }
          50% { opacity: 1.0; }
          100% { -webkit-transform: scale(1, 1); opacity: 0.0; }
        }
    */
    // End breaking news snippet

 
    //Tip us links
    .tipUs {
        background-color: $f-red;
        font-size: 14px;
        padding: $padding $padding $padding/2;
        margin-top: $padding !important;

        .tipType { 
            &:before {
                color: $f-white;
                display: inline-block;
                font-family: fvnicon;
                font-size: 20px;
                margin-left: -20px;
                vertical-align: top;
            }
        }
        .call:before {  content: "\e611";   }
        .email:before { content: "\e610";   }

        a { font-weight: bold;    }
        a,  a:hover {
            color: $f-white;
        }
    }
    .df-article[class*="Svart"] .tipUs a { color: $f-white; }

}