// ---------------------------------------------------------------------------------------------------------------------
// Fastenposten skin for Fædrelandsvennen
// FVN version: 0.1
// 21.01.2015 Atle Brandt
// ---------------------------------------------------------------------------------------------------------------------
// ---------------------------------------------------------------------------------------------------------------------
// based on drFront skin for reuse in fasten


// CONFIGURATION
$borderWidth: 4px;
$padding: 10px;
$alpha: 0.2;

$f-sans: Arial,  sans-serif;


// FVN color palette  current and old variations
$f-black:       #333;
$f-darkGray:      #999;
$f-lightGray:     #ededed;
$f-white:         #fff;

// Default, text, dark
$f-blue:        #00659c;
$f-lightBlue:     #009fda;
$f-darkBlue:      #002c5f;

// skin colors logic names and section info
$f-green:       #7f9943; // Naert/Folk
$f-violet:      #ae277e; // Kultur
$f-red:         #cc2028; // Sport
$f-khaki:       #82796a; // Debatt
$f-brown:       #993300; // Debatt 2
$f-turquoise:   #089ea1; // Bolig
$f-lime:        #c2c936; // Reise
$f-azure:       #1baada; // Motor
$f-orange:      #be6624; // God Helg
$f-pink:        #f35a5c; // Rega

//supplemental themes and subbrands
$krs-best:      #589ca6; 
$krs-base:      #1e2b2f;

$vg-godt:       #5C4F4A;


// defaults
$defaultBorderColor: $f-blue;
$containerHeaderHeight:         2*$padding;    // header height or line-height (article)
$containerHeaderTextColor:      $f-white;    // default header text color for container


@function getTheme($themeName) {
    @return map-get($themes, $themeName);
}
// $themes map is used as a config space for generating skins for containers & articles
// if you need to add additional theme just duplicate existing one, assign a new name
// and put all needed key:values - then render the skin by invoking proper  mixin in 'generate skins' section
// Naming rule: Theme-name, starting with capital letter, names are used in backend
// to generate proper Skin names in Dr Front, i.e Light-grey will create class '.df-skin-Light-grey'
//
$themes: (
    // List of all possible values:
    // bgColor, textColor, solid (bool, default false and background alpha)
    // use only those value that override the default parameters
        Nyheter: (
                bgColor: $f-blue
        ),
        hel-Svart:    (
                bgColor: $f-black,
                textColor: $f-white,
                solid: true
        ),
        hel-Graa:    (
                bgColor: $f-darkGray,
                solid: true
        ),
        hel-Graa-lys:    (
                bgColor: $f-lightGray,
                textColor: $f-black,
                solid: true
        ),

        Sport: (
                bgColor: $f-red
        ),
        Kultur: (
                bgColor: $f-violet
        ),
        Bolig: (
                bgColor: $f-turquoise
        ),
        Meninger: (
                bgColor: $f-khaki
        ),
        Reise: (
                bgColor: $f-lime
        ),
        Motor: (
                bgColor: $f-azure
        ),
        Folk: (
                bgColor: $f-green
        ),
        GodHelg: (
                bgColor: $f-orange
        ),
        KrsBy: (
                bgColor: $krs-base
        ),
        Godt: (
                bgColor: $vg-godt,
                textColor: $f-white,
                solid: true
        )

);



//TODO: remodel to fasten structure and class names as needed
//TODO: figure out what to do with "bjelke" w/o header text - use article section + sec.name?

        // THEME CONTAINERS
        // Those containers have to align with the grid (980px) and also
        // have different padding to accomodate coloured background
        .visuell-bakgrunn {
            background-color: $f-lightBlue;
        }

        // two different header skins, with default colors overridden via section skins
        // first one -bjelke
        .visuell-bjelke {
        	//TODO: no container and no content...
        	//.articleSection
            .df-container-header { 
                background-color: $defaultBorderColor;
                height: $containerHeaderHeight;
                padding: $borderWidth 0;
            }

            .df-container-header a,
            .df-container-header-inner {
                color: $containerHeaderTextColor;
            }
        }

        // second one -linje
        .visuell-linje {
            border-top: $borderWidth solid $defaultBorderColor;
            border-bottom: $borderWidth solid $defaultBorderColor;
        }

        	//not in fasten due to API constraints vs aptoma feed
        	//.articleSection instead?
        .visuell-linje .df-container-header-inner,
        .visuell-bjelke .df-container-header-inner {
            font-family: $f-sans;
            font-size: 16px;
            line-height: 21px;
            font-weight: bold;
            text-transform: uppercase;
            display: block;
        }

        .visuell-linje.visuell-bakgrunn {
            border-bottom:  none;
        }


	// SKINS
    // 1) mixin - create skins based on $themes config and util function getTheme
    @mixin containerTheme( $opts ){
        $color: map_get($opts, bgColor);
        $textColor: map_get($opts, textColor);
        $solid: map_get($opts, solid);

        // inverse or special title color
        @if $textColor {
        	//.articleSection instead?
            & .df-container-header {
                color: $textColor;
            }
        }

        &.visuell-bjelke {
        	//.articleSection instead?
            .df-container-header {
                background-color: $color; // solid
            }
            @if $textColor {
                .df-container-header a, .df-container-header-inner {
                    color: $textColor;
                }
            }
        }

        &.visuell-linje {
            
            border-color: $color;
            border-bottom-color:  $color;
        //.articleSection instead?
            .df-container-header a,
            .df-container-header-inner {
                color: $color;
            }
            
        }

        &.visuell-bakgrunn {
            @if $solid {
                background: $color;
                color: $textColor;
                h2, h3  {
                    color: $textColor;
                }
            }
            @else {
                background: rgba($color, $alpha);
            }
        }
    }

    // 2) generate skins for all defined $themes
    @each $theme in map-keys($themes) {
        .art-#{$theme} {
            @include containerTheme(  getTheme($theme) );
        }
    }

