
.multimedia-wrapper p a {
    float: left;
    text-decoration: none;
}
.multimedia-wrapper p a:after {
    content: " | ";
}


#taxWrap {
	background: white;
    clear: both;
    padding: 10px; 
}

ul.taxTab {
    list-style: none;
}

.taxTab li {
    line-height: 1.5;
    padding: 10px;
}
.taxTab li:nth-child(2n) { 
	background: #eee; 
}

ul.taxTab  span {
    font-size: 80%;
    font-family: Georiga, serif;
}

.article-type-feature .factbox {
	width: 100%;
    margin-left: 0;
    padding: 10px;
}