@import url(http://fonts.googleapis.com/css?family=Raleway:400,600,900);



/*
Theme Name: fvn-lokal
Theme URI: http://underscores.me/
Author: Fædrelandsvennen
Author URI: http://www.fvn.no
Description: fvn lokal
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: fvn-lokal
fvn-lokal is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/



/*--------------------------------------------------------------
1.0 Normalize
--------------------------------------------------------------*/
html {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    -webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
   margin: 0;
color: #303030;
    
}


.entry-title.single {
    opacity: 0;   
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;        
}

#mobilmeny-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;        
  background: #f0f0f0;
  width:100%;
  height:100%;
}



.arrow_box {
	position: relative;
	background: rgb(59, 89, 151);
    display: inline-block;
    width:50px;
    height:26px;
    padding:6px;
    border-radius: 2px;
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 10px;
    letter-spacing: 2px;
    color: white;
    top: -4px;
    left: 0;
    white-space: nowrap;
}
.arrow_box.twitter:after {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(59, 89, 151, 0);
	border-right-color: rgb(59, 89, 151);
	border-width: 13px;
	margin-top: -13px;
}
.arrow_box:before {
    content: "";
    position: absolute;
    top: 0;
    right: -12px;
    border-style: solid;
    border-width: 13px 0 13px 13px;
    border-color: transparent rgb(59, 89, 151);
    display: block;
    width: 0;
}
.icon-facebook {
    margin-left:12px;
    margin-right:2px;
}





input.search-form-input {
    padding: 10px 20px;
    width:250px;
    overflow:hidden;
    display: inline-block;
    border: none;
    position: relative;
    top: -7px;
}
input.search-form-input::-webkit-input-placeholder { color: #c0c0c0; letter-spacing: 1px; }
input.search-form-input:-moz-placeholder { color: #c0c0c0; letter-spacing: 1px; }
input.search-form-input::-moz-placeholder { color: #c0c0c0; letter-spacing: 1px; }
input.search-form-input:-ms-input-placeholder { color: #c0c0c0; letter-spacing: 1px; }

.block {
    display: inline-block;
    margin:0;
    padding:0;
    width:4px;
    height:4px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.fvn_hovedmeny.hidden,
input.search-form-input.hidden {
    display: none;
}

.fvn-icon.search {
position: relative;
float: right;
font-size: 1.4em;
top: 3px;    
margin-left: 20px;
color: #a0a0a0;    
cursor: pointer;
}
.fvn-icon.search:hover {
color:#303030;    
}




article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
.hidden, template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: 600;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 3.4em;

}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
    display: inline-block;
    float: left;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
2.0 Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
    font-weight:600;
}

p {
    padding:0;
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
3.0 Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}






/*--------------------------------------------------------------
5.1 Links
--------------------------------------------------------------*/
a {
    color: #303030;
    text-decoration: none;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;    
    border-bottom: 2px solid transparent;
    box-sizing:border-box;
}

h1 a,
h1 a:hover,
h1 a:focus,
h1 a:active {
    border-bottom: none!important;
}

#main article a:visited {
	color: #303030;
}

#main article a:not(.share-link):not(.front):hover,
#main article a:not(.share-link):not(.front):focus,
#main article articla a:not(.share-link):not(.front):active {
	border-bottom: 2px solid #303030;
}

#main article a:focus {
	outline: thin dotted;
}

#main article a:hover,
#main article a:active {
	outline: 0;
}

/*--------------------------------------------------------------
5.2 Menus
--------------------------------------------------------------*/


.site-branding.grid .unit.two-thirds {
    margin-top: 7px;
    text-align: right;
}


.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}

.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation li {
	float: right;
	position: relative;
    margin: 0 0 0 10px;
    padding: 0;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 1.5em;
	left: -999em;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul ul li {

}

.main-navigation li:hover > a {
}

.main-navigation ul ul :hover > a {
}

.main-navigation ul ul a:hover {
}

.main-navigation ul li:hover > ul {
	left: auto;
}

.main-navigation ul ul li:hover > ul {
	left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a {
}

/* Small menu. */
.menu-toggle {
	display: none;
}



.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
6.0 Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/*--------------------------------------------------------------
7.0 Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
    text-align: center;
}

/*--------------------------------------------------------------
8.0 Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
9.0 Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

/*--------------------------------------------------------------
10.0 Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
10.1 Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline {
    text-transform: capitalize;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}





/*--------------------------------------------------------------
10.3 Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
11.0 Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
12.0 Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
12.1 Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption.alignnone,
.wp-caption.alignleft {
	max-width: 50%;
    margin: 0 25px 25px 0;
    padding: 0;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0 auto;
}

.wp-caption-text {
	text-align: left;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
    font-size: 12px;
}

/*--------------------------------------------------------------
12.2 Galleries
--------------------------------------------------------------*/

.gallery-item {
	display: block;
	text-align: center;
	vertical-align: top;
	width: 100%;
    height: 450px;
    margin: 0 0 50px 0;
    padding: 0;
    position: relative;
}

.gallery-item a {
width: 100%;
height: 450px;
display: block;

background-position: 50%;
background-repeat: no-repeat;
-webkit-background-size: cover!important;
-moz-background-size: cover!important;
-o-background-size: cover!important;
background-size: cover!important;    
-webkit-background-origin:border;
}


.gallery-icon {
    padding: 0;
    margin: 0;   
    background: #303030;
}

.gallery-item .wp-caption-text {
    font-weight: 400;
    background: white;
    padding: 0;
    margin: 0 0 20px 0;        
}


.gallery-item img {
display: block;
padding: 0;
margin: 0;}

#main article .gallery-item a {
-webkit-transition: all 0.25s 0 ease;
-moz-transition: all 0.25s 0 ease;
-ms-transition: all 0.25s 0 ease;
-o-transition: all 0.25s 0 ease;
transition: all 0.25s 0 ease;     
display: block;
padding: 0;
margin: 0;
}

#main article .gallery-item a:hover {
opacity: 0.25;
}

.gallery-columns-2 .gallery-item, 
.gallery-columns-3 .gallery-item,
.gallery-columns-4 .gallery-item,
.gallery-columns-5 .gallery-item,
.gallery-columns-6 .gallery-item,
.gallery-columns-7 .gallery-item,
.gallery-columns-8 .gallery-item,
.gallery-columns-9 .gallery-item {
	width: 100%;
    max-width: 100%;
}

.gallery-item img {
width: 100%;    
}

.gallery-caption {
    font-size: 12px;
}

.galleryicon {
    position: absolute;
    top: 0.8em;
    right: 1.6em;
    color: #fff;
    z-index: 1;
}
.galleryicon span {
    display: inline-block;
}

.galleryicon span.icn {
    font-size: 3.4em;
    margin-left: 10px;
    position: relative;
    top:0.33em;
}

.galleryicon span.txt {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8em;
    box-sizing:border-box;
    
}








/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td, td a, td a:active, td a:visited {
    padding: 2px;
    margin: 0;
    text-align: left;
    text-transform: uppercase;
    font-size:0.9em;
    letter-spacing: 2px;
    font-weight: 600;
    
}
tr:nth-child(odd) {
    background: #f6f6f6;
}







/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */


ul, ol {
margin: 0;
padding: 0;
}

ul > li,
ol > li {
  counter-increment: customlistcounter;
}
ul > li:before,
ol > li:before {
    content: counter(customlistcounter) " ";
    font-weight: 400;
    float: left;
    background: #f0f0f0;
    width:3em;
    height:1.4em;
    border-radius: 2px;
    margin-right: 8px;
    color: #808080;
    text-align: center;
    line-height: 1.4;
    font-size: 80%;
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    position: relative;
    top:2px;
}

ul:first-child,
ol:first-child {
  counter-reset: customlistcounter;
}


nav ul > li:before {
    content: none;
}
nav ul {
  list-style: none; }
nav li {
  margin: 0; }
nav ul,
nav ol {
  list-style-type: none;
  margin-left: 0;
}












/*--------------------------------------------------------------
// FVN
--------------------------------------------------------------*/

.footer-area.full,
.header-area.full {
	background-color: #f0f0f0;
	padding: 0;
	margin: 0;
}

.header-area.full {
position: relative;
z-index: 50;
}

.fvn-info.full {
position: relative;
z-index: 100;    
    padding:0;
    margin:0;
    margin: 0 auto;
    width: 100%;
    display: block;
    max-width: 976px;
}
.fvn-info .inner {
    text-align: left;
    display: inline-block;
    font-size: 12px;
    position: relative;
}
.site-title {
white-space: nowrap;    
}

.site-title a.logo.text {
    border-top: 3px solid rgba(0, 211, 138, 0);
    border-bottom: 3px solid rgba(0, 211, 138, 0)!important;
    padding: 0.01em 0;
    letter-spacing: 5px;
    position: relative;
    top:5px;
}

.site-title a.logo.text.anim {
    -webkit-transition: all 0.55s cubic-bezier(.51, .01, .01, .99);
    -moz-transition: all 0.55s cubic-bezier(.51, .01, .01, .99);
    -o-transition: all 0.55s cubic-bezier(.51, .01, .01, .99);
    transition: all 0.55s cubic-bezier(.51, .01, .01, .99);
    position: relative;
}


.site-title a.logo.text.anim {
    transition-delay: 0.2s;
    border-top: 3px solid rgba(0, 211, 138, 1);
    border-bottom: 3px solid rgba(0, 211, 138, 1)!important;
    padding: 0.25em 0;
    
}


div.brukerskapt {
    position: relative;
    display: inline;
    width: 100%;
    text-align: left;
    top:-4.2em;
}

div.brukerskapt div.info {
    position: relative;
    width:100%;
    color: #303030;
    background: #00d38a;
    padding: 1em 2em;
    text-align: center;
    cursor: pointer;
    display: block;
    margin-top:0;
    top:0;
    opacity: 1;
    -webkit-transition: all 0.35s cubic-bezier(.51, .01, .91, .01);
    -moz-transition: all 0.35s cubic-bezier(.51, .01, .91, .01);
    -o-transition: all 0.35s cubic-bezier(.51, .01, .91, .01);
    transition: all 0.35s cubic-bezier(.51, .01, .91, .01);
}
.brukerskapt div.info.anim {
    top:-20px;
    margin:0;
    padding-top:0;
    padding-bottom:0;
    opacity: 0;
}


div.brukerskapt div.info a {
    border-bottom: 2px solid;
    padding-bottom: 2px;
}
div.brukerskapt div.info:hover a {
    color: #fff;
}


div.brukerskapt div.info.clicked {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;    

}  

.fvn-info.full {
-webkit-transition: all 0.75s ease;
-moz-transition: all 0.75s ease;
-ms-transition: all 0.75s ease;
-o-transition: all 0.75s ease;
transition: all 0.75s ease;   
position: relative;
transition-delay:1s;
}

.fvn-info.full.init {
    opacity:0;
}
.fvn-info.full .inner {
position: absolute;
z-index: 2;    
    
}




div.brukerskapt div.tip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-bottom: 8px solid #00d38a;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}





div.brukerskapt div.info span {
    font-size: 1.4em;
    text-transform: uppercase;
    letter-spacing: 3px;
    display:inline-block;
}
div.brukerskapt div.info.clicked span.kort,
div.brukerskapt div.info:hover span.info-icon {
color: #fff;
}


div.brukerskapt div.info.clicked span.info-icon {
position: absolute;
right:0.5em;
top:0.5em;
color: #303030;
}


div.brukerskapt div.info span.info-icon {
font-size: 1.6em;
position: relative;
top:2px;    
margin-left:0.5em;
}


div.brukerskapt div.info span.lang {
font-size: 1.4em;
letter-spacing: normal;
text-transform: none;
padding:0.5em 1em 0.8em 1em;
}
div.brukerskapt div.info span.info-icon.hidden,
div.brukerskapt div.info span.lang.hidden {
display:none;
}


.site-header.inner {
padding: 2.4em 0 1.1em 0;    
}









.footer-area.full {
    margin-top:2em;
}
.site-footer.inner {
text-align: center;
}

.site-branding {

}

.site-title  {
	font-size: 1.5em;
    text-align: left;
    font-weight: 400;
    letter-spacing: 4px;
	padding: 0;
	margin: 0;
    vertical-align: middle;
    text-transform: uppercase;
    display: inline-block;
}



.site-description {
    display: none;
    font-size: 12px;
	font-size: 1.2rem;
	font-weight: normal;
	margin: 0;
}



.fvn_hovedmeny .fvn-icon,
.site-title .fvn-icon {
font-family: 'icon';   
font-size: 2em;
vertical-align: middle;
margin: 0;
display: inline-block;
}    

.site-title .fvn-icon.logo  {
margin-right: 10px;
float: left;
font-size: 2.6em;
position: relative;
top:-8px;
}

.site-title .fvn-icon.menu  {
float: right;
text-align: right;
position: relative;
top:2px;   
}

.fvn_hovedmeny .fvn-icon {
font-size: 1.6em;    
float: right;
}


.main-page {
  max-width: 976px;
  margin: 0 auto; 
}

.readable-width,
.entry-header.readable-width,
.entry-content.readable-width {
    max-width: 720px;
    margin: 1.5em auto 0;
}

.entry-header.readable-width.blogg {
margin-top:40px;    
}

.inner {
  padding: 2em 0; 
}

#primary, #secondary {
  float: left;
  width: 100%; 
}
#secondary {
display: none;
    border-top:1px solid #e0e0e0;
    padding-top: 2em;
    
}



.post-navigation {
    border-top:1px solid #e0e0e0;
    font-weight: 900;
	font-size: 2em;
    line-height: 1.1;
    padding-top: 1.5em;
    position: relative;
    color: #a0a0a0;
}


.post-navigation .next-prev {
display: table;
height: 100%;
}
.post-navigation .next-prev .unit {
display: table-cell;
vertical-align: middle;
}


.post-navigation .next-prev .unit:first-child {
border-right: 1px solid transparent;
padding-right: 3em;
text-align: left;
}
.post-navigation .next-prev .unit:last-child {
border-left: 1px solid transparent;
padding-left: 3em;
text-align: right;

}
.post-navigation .next-prev .unit:first-child:hover {
border-right: 1px solid #e0e0e0;
}
.post-navigation .next-prev .unit:last-child:hover {
border-left: 1px solid #e0e0e0;
}

.post-navigation .next-prev .unit .navicn { 
position: absolute;
top:0;
opacity:0;
font-size: 2em;
-webkit-transition: all 0.25s ease;
-moz-transition: all 0.25s ease;
-ms-transition: all 0.25s ease;
-o-transition: all 0.25s ease;
transition: all 0.25s ease;       
}

.post-navigation .next-prev .unit:first-child .navicn { 
left:0.5em;
}
.post-navigation .next-prev .unit:last-child .navicn { 
right:0.5em;
}
.post-navigation .next-prev .unit:first-child:hover .navicn {
left:0;
opacity:1;
}
.post-navigation .next-prev .unit:last-child:hover .navicn {
right:0;
opacity:1;
}


.featured-image,
.grid-image {
width:100%;    
height: 180px;
background-position: 50%;
background-repeat: no-repeat;
-webkit-background-size: cover!important;
-moz-background-size: cover!important;
-o-background-size: cover!important;
background-size: cover!important;    
-webkit-background-origin:border;
background-color: #303030;
position: relative;

-webkit-transition: all 0.25s ease;
-moz-transition: all 0.25s ease;
-ms-transition: all 0.25s ease;
-o-transition: all 0.25s ease;
transition: all 0.25s ease;     
}
    
.featured-image {
max-width: 100%;
height:550px;
}



.video-fokus {
    width: 56px;
    height: 56px;
    position: absolute;
    bottom: 4px;
    right: 4px;
    background: #fff;
    opacity: 0.9;
}
.video-fokus span {
    position: absolute;
    top: 14px;
    left: 20px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 20px solid #303030;
}




#main article .edit-wrap {
position: relative;
}

#home-button,
#main article footer.entry-footer a.post-edit-link {
position: absolute;
right: 0;
top: -2em;
color: #a0a0a0;
border:1px solid #e0e0e0;
border-radius: 3px;
padding: 3px 5px 2px 8px;
text-transform: uppercase;
font-size: 0.8em;
letter-spacing: 2px;
}
#home-button:hover,
#main article footer.entry-footer a.post-edit-link:hover {
border:1px solid #e0e0e0;
background: #e0e0e0;
color:#303030;
}
#home-button {
position:static;
font-size: 1em;
border:1px solid #fff;
padding: 6px 10px 4px 16px;
margin-top:8px;
margin-bottom:8px;
color: #fff;
width: 50%;
margin: 10px auto;

}

.ad-wrapper {
max-width: 100%;
overflow: hidden;
margin-top: 50px;
position: relative;
z-index:-1;
}



.ad-wrapper:before {
content:"ANNONSE";
position: absolute;
top:-12px;
left:0;
font-size:8px;
letter-spacing: 2px;    
color:#a0a0a0;
}




.entry-title {
    font-weight: 900;
	font-size: 3.4em;
    line-height: 1.1;
    text-align: center;    

    /* Warning: Needed for oldIE support, but words are broken up letter-by-letter 
 -ms-word-break: break-all;
     word-break: break-all;
     word-break: break-word;

-webkit-hyphens: auto!important;
   -moz-hyphens: auto!important;
    -ms-hyphens: auto!important;
        hyphens: auto!important;
  */  
    margin: 25px 0;
    padding: 25px 0;

    position:relative;
}

.entry-title.front {
    font-size: 1.6em;
    margin: 0;
    padding-top: 16px;
    font-weight:600;
    max-height: 120px;
    overflow: hidden;    
}

.entry-title.search {
    font-size: 2.8em;

}

.entry-title:after {
    content:"";
    display:block;
    position:absolute;
    bottom:0;
    left:50%;
    height:4px;
    width: 100px;
    margin-left:-50px;
    background: #303030;
}

.entry-title.front:after {
content: none;
}

.entry-title.blogg {
    background: #00d38a;
    color: #303030;
    
    font-weight: 400;
	font-size: 2.4em;
    line-height: 1.35;
    text-align: center;    

    margin: 0.67em 0;
    padding:50px;
    
    position:relative;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}



.entry-title.blogg:after {
    content:"";
    position:absolute;
    bottom:-30px;
    left:50%;
    margin-left:-16px;
    border:16px solid transparent;
    border-top-color:#00d38a;
    display:block;
    width:0;
    background: transparent;
}

.entry-meta {
    text-align: center;
    color: #909090;
}




.site-content.inner {
    padding-top:0; 
    margin-top:0;
}

.site-main.index {
    margin-top: 40px;
}

.site-main.index article {
    padding: 0;
    margin: 0;
    height: 300px;
    max-height: 300px;

-webkit-transition: all 0.25s ease;
-moz-transition: all 0.25s ease;
-ms-transition: all 0.25s ease;
-o-transition: all 0.25s ease;
transition: all 0.25s ease;
}

.site-main.index article:hover {
}

.site-main.index article .entry-title.front a,
.site-main.index article .entry-title.front a:hover {
border-bottom: none;
}

.site-main.index article:hover .grid-image {
    opacity: 0.8;
}


.share-buttons {
    margin-top:0;   
}

.share-buttons a {
margin: 0 10px;
}

.share-buttons.big {
border-top:1px solid #e0e0e0;
font-size: 1.4em;
padding-top: 1.8em;
padding-bottom: 0.6em;
}

.share-buttons.small {
margin-bottom: 40px;    
font-size: 1.2em;
padding-top:4px;
}

.icon-twitter {
position: relative;
top:2px;    
}


.share-icon {
    display: inline-block;
}

.site-navigation {
    
display: inline-block;

    
}



.pagination .page-numbers {
padding: 0 4px;
color: #808080;
}

.pagination .page-numbers.current {
font-weight: 600;    
color: #303030;
}





footer.entry-footer.single {
margin-top: 2em;  
margin-bottom: 2em;
}



.site-branding.grid .unit {
     overflow:visible;
}



.fvn_hovedmeny {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;

}

.fvn_hovedmeny li {
padding: 0 10px 11px 10px;
margin: 0;
position: relative;
top:6px;
text-transform: uppercase;
letter-spacing: 2px;
font-size: 0.8em;

}

.fvn_hovedmeny li.cat-item ul {
    display:inline-block;   
    position: absolute;
    z-index: 5;
    width:250px;
    text-align: left;
    padding: 10px 0;
    margin-left: -125px;
    background: #fff;
    border: 1px solid #e0e0e0;
    font-size: 12px;
    visibility:hidden;
    opacity:0;
    transition:visibility 0s linear, opacity 0.25s linear; 
}

.fvn_hovedmeny li.cat-item:hover ul {
    visibility:visible;
    opacity:1;
    transition-delay:0s;
    
}

.fvn_hovedmeny li.cat-item ul li.cat-item {
    text-transform: none;
    letter-spacing: normal;
    font-size: 1em;   
    
    display: block;  
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    padding: 0;
}


.fvn_hovedmeny li.cat-item ul li.cat-item a {
    padding: 2px 20px 0 20px;
    color: #808080;

}

.fvn_hovedmeny li.cat-item ul li.cat-item:hover a {
    background: #00d38a;
    color: #303030;
}


.cat-links, .tag-links {
    white-space: normal;
    display: inline-block;
    
}


.cat-links a, 
.tag-links a {
    display: inline-block;
    
    padding: 0 4px;
    margin: 0 4px;
    width: auto;
    white-space: nowrap;
    
    /* Warning: Needed for oldIE support, but words are broken up letter-by-letter */
 -ms-word-break: break-all;
     word-break: break-all;
     /* Non standard for webkit */
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
    -ms-hyphens: auto;
        hyphens: auto;
    
    
}
.cat-links span, 
.tag-links span {
color:#00d38a;
font-size: 1.4em;
position: relative;
top:3px;
}






.siste-saker-headline span.fvn-icon {
position: relative;
top: 4px;
margin-right: 8px;
color: #00d38a;
font-size: 1.5em;
}

.siste-saker-headline {
font-size: 10px;
font-size: 1.0rem;
font-weight: 400;
letter-spacing: 2px;
padding: 20px;
margin: 0;
text-transform: uppercase;
padding-bottom: 20px;
text-align: center;
}
.rolled { 
overflow: hidden; 
border-top: 1px solid #e0e0e0;
}
.rolled:first-child {
padding-top: 50px;
}

.rolled.single .roller-controls,
.rolled.single .roller-pagination { clear: both; }
.rolled .roller-page.active { color: #000; }
.rolled.extra .roller-item {
-webkit-transition: margin 0.4s ease;
        transition: margin 0.4s ease;
}
.roller-item { width:325px; }
.roller-item._1 { padding-right:15px!important; }
.roller-item._3 { padding-left:15px!important; }
.roller-controls { display: block;}


.roller-control {
    display: none;
}

.roller-control .navicn {
padding-bottom: 20px;
font-size: 3em; 
position: relative;
top: 12px;

    
}

.roller-control.enabled {
padding-bottom: 20px;
display: inline-block;
text-transform: uppercase;
letter-spacing: 2px;  
font-size: 0.8em;
color:#808080;
}
.roller-control.enabled:hover {
color:#303030;    
}

.roller-control.next {
    float: right;
}








@media screen and (max-width: 1040px) {

.site-content.inner {
    padding:0 40px; 
    }
    
.site-header {
    padding-left: 20px!important;
    padding-right: 20px!important;
}
    
}





@media screen and (max-width: 800px) {
    
    html {
    font-size:100%;    
    }
  
    .menu-toggle,
    .main-navigation.toggled .nav-menu {
    display: block;
    }

    .fvn-icon.search,
    .main-navigation .fvn_hovedmeny {
    display: none; 
    }

    .site-header {
    position: relative;
    }
    
    .site-header.inner {
    padding: 2em 0;
    }

    

    .site-title a.fvn-icon.logo  {
    font-size: 2.4em;
    font-weight: 400;
    top:0;
    }        
    
    .site-branding.grid .unit.two-thirds {
    position: absolute;
    top:27px;
    right:25px;
    max-width: 60px;
    z-index: 2;
    }    

    .site-branding.grid .unit.one-third {
    width: 80%;
    display: inline-block;
    }       
    
    .site-title a.logo.text {
        font-size: 14px;   
        font-weight: 600;
        position: relative;
        top:10px;        
        border-top: 2px solid rgba(0, 211, 138, 0);
        border-bottom: 2px solid rgba(0, 211, 138, 0)!important;
        padding: 0.01em 0;
        letter-spacing: 3px;
    }    
    .site-title a.logo.text.anim {
        border-top: 2px solid rgba(0, 211, 138, 1);
        border-bottom: 2px solid rgba(0, 211, 138, 1)!important;
        padding: 0.5em 0;

    }

    .fvn-info.full {
    max-width: 100%;
    width: 100%;
    text-align: center!important;
    margin: 0 auto!important;
    }
    .fvn-info.full .inner {
    text-align: center!important;
    margin: 0 auto!important;    
    right:0;
    left:0;
    }

    .menu-toggle  {
    font-size: 2em;
    padding: 0;
    margin: 0;
    }

    div.brukerskapt div.info {
    padding: 1em 0;    
    }
    div.brukerskapt div.info:hover a,
    div.brukerskapt div.info:active a {
    color:#303030;
    }
    div.brukerskapt div.info a:before {
    content: '\A';
    white-space: pre;
    } 
    
    div.brukerskapt div.info span.lang {
    font-size: 1.2em;
    }
    
    div.brukerskapt div.info span {
    font-size: 1.1em;
    letter-spacing: 2px;  
    position: relative;
    top:-2px;
    font-weight: 600;
    }    
    
    div.brukerskapt div.info span.info-icon {
    color: #fff;    
    padding: 0;
    margin: 0 0 0 8px;
    top: 1px;
    }
    div.brukerskapt div.info span.kort {
    white-space: nowrap;
    }
    div.brukerskapt div.info span.info-icon.close {
    display: none;
    }    
    
    #primary, #secondary {
    width: 100%;
    padding: 0;
    float: none; 
    }


    
    .inner {
    padding-left: 20px;
    padding-right: 20px; 
    }

    .entry-title {
    font-size: 2.4em;
    }
    .entry-title.blogg {
    font-size: 2em;
    padding: 40px 20px 50px 20px;
    }
    .entry-title.search {
        font-size: 2em;
    }
    
    
    .ad-wrapper {
    height:auto;
    background: #fff;
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0;
    }

    .ad-wrapper div {
    top:0;
    left:0;
    }

    .featured-image {
    max-width: 100%;
    height:350px;
    }    
    
    article figure {
    min-width: 100%;
    }
    
    .grid .unit:first-child { padding: 0; }
    .grid .unit:last-child { padding: 0; }    

    
    .entry-title.front {
    padding: 25px 12px;
    max-height: none;
    }   
    
   .entry-title.front.roller {
    padding: 25px 0;
    max-height: none;
    }   

    .entry-footer.readable-width,
    .entry-header.readable-width,
    .entry-content.readable-width {
    padding: 0 2em;
    }  
    .entry-footer.readable-width {
    font-size:12px;    
    }
    
    #secondary {
    padding: 2em;
    }
    
    .entry-footer.readable-width,
    input,
    textarea,
    select {
    width:100%;   
    }
    
    .site-main.index footer {
        display: none;
    }

    .site-main.index article {
    margin-bottom: 10px;
    border-bottom: none;
    height: auto;
    max-height: none;
    }    
    
    .site-main.index .unit.one-third._1,
    .site-main.index .unit.one-third._2,
    .site-main.index .unit.one-third._3 {
    margin: 0;
    padding: 0;
    display: block;
    }
    
    .footer-area.full {
    margin-top:10px;
    font-size: 12px;
    }
    
    th,
    td {
    font-size:10px;
    }

    .posted-on {
        display: block;   
    }
    .share-buttons.big,
    .share-buttons.small {
        margin-top: 20px;
        background: #f0f0f0;
        padding: 20px 0;
        
    }    
    .arrow_box {
        font-size: 13px;
        line-height:1.3;
    }
    
    .post-navigation {
    font-weight: 900;
    font-size: 1.4em;
    line-height: 1.1;
    padding: 1.5em 1em 0 1em;
    border-top:none;
    }

   
    .post-navigation .next-prev .unit:first-child {
    border-bottom: 1px solid #e0e0e0;
    text-align: center;   
    padding: 0 0 1em 0;
    margin: 0 auto;
    }
    .post-navigation .next-prev .unit:last-child {
    text-align: center;   
    padding: 1em 0 0 0;
    margin: 0 auto;
        
    }
    .pagination.grid {
    border-top: 1px solid #e0e0e0;
    padding: 2em 0 1.5em 0;
    }
    .pagination.grid .unit {
    text-align: center;    
    }
    
    
    .post-navigation .next-prev .unit .navicn { 
    opacity:1;
    font-size: 1em;  
    }

    .post-navigation .next-prev .unit .navicn:after { 
    content: "forrige sak";
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size:10px;
    position: relative;
    top: -6px;
    left:8px;
    }
    .post-navigation .next-prev .unit:last-child .navicn:after { 
    content: "neste sak";
    }   

    ul,ol {
    padding: 0;
    margin: 1em 0 0;
    }
    
    .share-buttons.big,
    .share-buttons.small {
    font-size: 1.2em;
    }    
    
    .roller-controls { display: none!important;}
    .roller-item { 
        width:250px;
        padding-right:8px!important;
        padding-left:8px!important;
    }
    .roller-item._1 { 
        padding-right:8px!important;
        padding-left:8px!important;
    }
    .roller-item._3 { 
        padding-right:8px!important;
        padding-left:8px!important;
    }    

    .siste-saker-headline {
    padding: 10px 8px;
    }

    
    #masthead div.unit.two-thirds {
    display: block;
    width:100%;
    }
    
    #mobilmeny-content {
    list-style: none;
    display: block;
    width:100%;
    max-width:100%;
    margin: 0;
    padding: 0;
    position: relative;
    top: 2em;
    left:0;
    text-align: center;
    z-index: 99999;
    }

    #mobilmeny-content form {
    margin-bottom: 1em;    
    width: 100%;    
    }

    #mobilmeny-content input.search-form-input {
    width: 100%;    
    top:0;
    box-sizing: border-box;
    }
    
    #mobilmeny-content .mainmenu span {
    display: block;
    padding: 8px 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8em;        
    }
    #mobilmeny-content .mainmenu.expanded span {
    background: #00d38a;
    }

    #mobilmeny-content .mainmenu .submenu {
    margin-top:1em;
    }
    
    #mobilmeny-content .mainmenu .submenu li {
    display: block;
    width: 100%;
    padding: 2px 0;
    width: 100%;
    overflow: hidden;
    }
    
    .entry-summary.readable-width {
    padding: 0 2em;    
        
    }
    
    
}
    
@media screen and (max-width: 600px) {

    .site-content.inner {
    padding:0; 
    margin-top:0;
    }    
    
    .featured-image {
    height:250px;
    }    
    
}