<link href="/external/drfront/css/front-29.css?v=6&amp;r=71243982" rel="stylesheet" type="text/css">
<style>
div#front-29 { float: right;}
div#front-25 { float: left;}
</style>

<script>
var rowM = [], rowR = [];


 var rightHtml = "", justRight="", endRight = 0, startRight = 0;

function trimRight(data){

	rightHtml= data;
	endRight =  rightHtml.indexOf('<div id="preFooter');
	startRight = rightHtml.indexOf('<div id="front-29');
	justRight = rightHtml.substring(startRight, endRight);


	rowM = $("#front-25 .df-articles").html().split("df-container ");
	rowR = justRight.split("df-container ");

	//loop and push into main, right, ads
	// 1. split makes for broken html - remove end, prefix front
	// 2. push to separate arrays 
	//TODO; dry as function over two identical loops
	var mainParts = [], adParts = [], rightParts = [];
	var mainStr = "", rightStr="", htmlOut = "";

	for(var i=0; i<rowM.length; i++){
		var curStr = rowM[i];
		var cleanStr =  '<div class="' + curStr.substring(0,curStr.lastIndexOf("<div")); 

		if (curStr.indexOf("df-autorow") > 0){
			// end main, add this to ads
			mainParts.push(mainStr);
			mainStr = "";
			adParts.push(cleanStr);
		} else {
			mainStr += cleanStr;
		}
	}
	// in case not ending on ad - save the last bit
	mainParts.push(mainStr);

	for(var i=0; i<rowR.length; i++){
		var curStr = rowR[i];
		var cleanStr =  '<div class="' + curStr.substring(0,curStr.lastIndexOf("<div")); 

		if (curStr.indexOf("df-autorow") > 0){
			// end right, toss ads in POC
			rightParts.push(rightStr);
			rightStr = "";
		} else {
			rightStr += cleanStr;
		}
	}
	// in case not ending on ad - save the last bit
	rightParts.push(rightStr);
	
	//loop to merge parts into wrapped setting
	for(var i=0; i<mainParts.length; i++){
	  htmlOut += "<div class='df-group wrap" +(i+1) +"'>";
	  htmlOut += "<div class='df-main main" +(i+1) +"'>" + mainParts[i] + "</div>";
	  htmlOut += "<div class='df-side right" +(i+1) +"'>"+ rightParts[i] + "</div>";
	  htmlOut += "</div>";
	  if(adParts.length >= i){
	     htmlOut += "<div class='df-ad'>" +adParts[i]+ "</div>";
	  }
	}

	//overrides prefooter for ease of POC
	$("#content").html(htmlOut);
	//$(justRight).insertBefore("#front-25");

}


$(document).ready(function() {

   $.ajax({  url: "http://fvndev1.medianorge.no/adtest"}).done(trimRight);
});
</script>