<script type='text/javascript' src='http://blogg.fvn.no/beta/wp-content/themes/FoundationPress/js/jquery/dist/jquery.min.js'></script>
<script src="http://api.snd.no/sdk/js/sndapi.min.js"></script>

<style type="text/css">
	.articleList li { float: left; margin-right: 20px; }
	.articleTarget { clear: both; width: 80%; margin: 0 auto; padding-top: 20px; }

</style>
<h1>Dynamic article listing SND API</h1>
<div> <ul class="articleList"></ul></div>
<div class="articleTarget"></div>



<script type="text/javascript">
var api = {};
var curId = 2858004;

$(document).ready(function() {

	api = new SNDAPI({   key: "0AOSl4q3Ed8LwC2t394atYbiw"    });
    api.init(); // This makes a HTTP request! You can also attach .success and .fail here
 	getArticle(curId);
})

function showPost(data, statusDetails) {

	//	console.log(data);
	var c = data.content;
	var htmlStr = "";
	htmlStr += "<h4>" + c.runninghead + "</h4>";
	htmlStr += "<h2>" + c.title + "</h2>";
	htmlStr += "<div class='leadT'>" + c.leadtext + "</div>";
	// htmlStr += "<div class='bodyT'>" + c.bodytext + "</div>";
	
	//var ex = data.extensions; -> ex[i].name
	var ex = data.links;
	for (var i = ex.length - 1; i >= 0; i--) {
		//	console.log(ex[i].articleType + " " + ex[i].rel);
		if (ex[i].rel == "TEASERREL") {

			var imgU = ex[i].self.replace("{snd:mode}/{snd:cropversion}", "BINARY");
			htmlStr += "<img src='" +imgU + "'>";
		}
	};


	$(".articleTarget").append(htmlStr);

};

function getArticle( artId ) { 
	api.ajax({	url:'publication/fvn/searchContents/instance?contentId='+ artId	}).success(showPost);

}

/*
articleType: "news"
authors: Array[1]
content: Object
extensions: Array[23]
id: "http://api.snd.no/news/v2/publication/fvn/searchContents/instance?contentId=2858004&contentType=article"
links: Array[14]
published: "2015-07-26T15:51:39.000Z"
title: "Folkefesten alle ventet på"
type: "application/json"
updated: "2015-07-26T15:51:39.000Z"
version: "1.0.4"
*/

/* extensions - meta data - 23 different, section, paywall, ...*/
/* links - relations; 
4  picture PART-OF
2  news related
5  picture TOPMEDIAREL
1  picture TEASERREL
*/
/* ...why we need SDK ... inline images are as thumb, most replace all. main image(s) hidden in long array. with generic url - must transform... */
</script>