<div id="sommerjobbFV" class="sommerJobb">
	Lyst til å være <a href="https://delta.hr-manager.net/ApplicationInit.aspx?cid=1106&ProjectId=143898&DepartmentId=19154&MediaId=5">sommervikar i redaksjonen</a> eller hos <a href="https://delta.hr-manager.net/ApplicationInit.aspx?cid=1106&ProjectId=143899&DepartmentId=19154&MediaId=5">KRSby</a>? Søknadsfrist 16. februar!
</div>

<script>

var trackSommer = function(url) { var whatUrl = $(this).attr("href"); __fvnT('send', 'event', 'sommerJobb', 'click', whatLink, {'hitCallback': function () { document.location = whatUrl; } }); };

jQuery(document).ready(function(){ 
	var sommerF = new Date();
	if( ( sommerF.getDate() > 16 ) && ( sommerF.getMonth() > 2) ){
		$("#sommerjobbFV").hide();
	}
	$("#sommerjobbFV a").on("click", trackSommer);
}); 
</script>
<style>
#sommerjobbFV {
	background: #009fda;
	padding: 10px;
	font-size: 18px;
	color: white;
	margin-bottom: 5px;
	text-align: center;
}
#sommerjobbFV a {
	color: white;
	text-decoration: underline;
	font-weight: bold;
}
</style>