<script type='text/javascript' src='http://blogg.fvn.no/beta/wp-content/themes/FoundationPress/js/jquery/dist/jquery.min.js'></script>

<style type="text/css">
	.postList li { float: left; margin-right: 20px; }
	.postTarget { clear: both; width: 80%; margin: 0 auto; padding-top: 20px; }

</style>
<h1>Dynamic menu WP</h1>
<div> <ul class="postList"></ul></div>
<div class="postTarget"></div>

<h4>For additional data each post:</h4>
<p>Add _embed as param </p>

<script type="text/javascript">
wpApi = 'http://blogg.fvn.no/beta/wp-json/wp/v2/';
wpPost = 'posts/';

var curId = 250;

function showPost( data ) { 
 	// console.log(data);
 	var post = {};
 	post.title = data.title.rendered;
 	post.link = data.link;
 	post.content = data.content.rendered;
 	/* v2 chaned to image ID - and _embed does not resolve it... minor WTF WIP
 	post.img = data.featured_image.source;
 	post.imgAlt = data.featured_image.title;
	*/
 	jQuery('.postTarget').html('<h2>' + post.title + '</h2>' 
 		/*+ '<img src="' + post.img + '">' + '<em>' + post.imgAlt + '</em>' */
 		 + post.content  );
 }

 function showPosts( data ) { 
 	// console.log(data);
 	var htmlTxt = "";
 	jQuery.each(data, function( i, item ){
 		htmlTxt +=  '<li><a class="clicky" data-content-id="'+  item.id + '">' +  item.id + '</a></li>'; 

 	});
 	$('.postList').append(htmlTxt);
 	jQuery('.clicky').on('click', getPost);
 	// delegate and move to init...
 }


 function getPost( ) { 
 	curId = jQuery(this).data("content-id");
 	jQuery.get( wpApi + wpPost + curId, showPost );
 }
  
 function getPosts( ) { 
 	jQuery.get( wpApi + wpPost , showPosts );
 	// v2 not implemented filtering... -> filter[category_name]=featured
 }

jQuery(document).ready(function() {
	getPosts();
});
</script>