@font-face {
	font-family: 'fvnicon';
	src:url('fonts/fvnicon.eot?-wglozz');
	src:url('fonts/fvnicon.eot?#iefix-wglozz') format('embedded-opentype'),
		url('fonts/fvnicon.woff?-wglozz') format('woff'),
		url('fonts/fvnicon.ttf?-wglozz') format('truetype'),
		url('fonts/fvnicon.svg?-wglozz#fvnicon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'fvnicon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-krsby:before {
	content: "\e601";
}
.icon-sad:before {
	content: "\2d";
}
.icon-neutral:before {
	content: "\5f";
}
.icon-glad:before {
	content: "\2b";
}
.icon-1:before {
	content: "\31";
}
.icon-2:before {
	content: "\32";
}
.icon-3:before {
	content: "\33";
}
.icon-4:before {
	content: "\34";
}
.icon-5:before {
	content: "\35";
}
.icon-6:before {
	content: "\36";
}
.icon-fvn:before {
	content: "\e600";
}
.icon-f:before {
	content: "\e602";
}
.icon-fv:before {
	content: "\e604";
}
.icon-ftv:before {
	content: "\e605";
}
.icon-menu:before {
	content: "\e606";
}
.icon-menu2:before {
	content: "\e607";
}
.icon-menu3:before {
	content: "\e609";
}
.icon-menuR:before {
	content: "\e60a";
}
.icon-back:before {
	content: "\e60b";
}
.icon-forward:before {
	content: "\e60c";
}
.icon-flag:before {
	content: "\e60d";
}
.icon-link:before {
	content: "\e60e";
}
.icon-talk:before {
	content: "\e60f";
}
.icon-mail:before {
	content: "\e610";
}
.icon-call:before {
	content: "\e611";
}
.icon-popular:before {
	content: "\e612";
}
.icon-time:before {
	content: "\e613";
}
.icon-cog:before {
	content: "\e614";
}
.icon-FB:before {
	content: "\e615";
}
.icon-TW:before {
	content: "\e616";
}
