/**
 * This CSS is always added to the front skin when burning the front and will contain the basic
 * required CSS and some fixes. Feel free to overide the rules in you skin if you want to.
 *
 * Copyright (c) 2006-2011 Aptoma AS (http://www.aptoma.com)
 */
.drfront {
    /* CSS Reset */

    /* Default CSS */

    line-height: 1;
    color: black;
    width: 400px;
}
.drfront div,
.drfront span,
.drfront applet,
.drfront object,
.drfront iframe,
.drfront h1,
.drfront h2,
.drfront h3,
.drfront h4,
.drfront h5,
.drfront h6,
.drfront p,
.drfront blockquote,
.drfront pre,
.drfront a,
.drfront abbr,
.drfront acronym,
.drfront address,
.drfront big,
.drfront cite,
.drfront code,
.drfront del,
.drfront dfn,
.drfront em,
.drfront font,
.drfront img,
.drfront ins,
.drfront kbd,
.drfront q,
.drfront s,
.drfront samp,
.drfront small,
.drfront strike,
.drfront strong,
.drfront sub,
.drfront sup,
.drfront tt,
.drfront var,
.drfront dl,
.drfront dt,
.drfront dd,
.drfront ol,
.drfront ul,
.drfront li,
.drfront fieldset,
.drfront form,
.drfront label,
.drfront legend,
.drfront table,
.drfront caption,
.drfront tbody,
.drfront tfoot,
.drfront thead,
.drfront tr,
.drfront th,
.drfront td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
.drfront :focus {
    outline: 0;
}
.drfront ol,
.drfront ul {
    list-style: none;
}
.drfront table {
    border-collapse: separate;
    border-spacing: 0;
}
.drfront caption,
.drfront th,
.drfront td {
    text-align: left;
    font-weight: normal;
}
.drfront h1,
.drfront h2,
.drfront h3,
.drfront h4,
.drfront h5,
.drfront h6,
.drfront strong {
    font-weight: bold;
}
.drfront em {
    font-style: italic;
}
.drfront .df-article {
    overflow: hidden;
    word-wrap: break-word;
    position: relative;
    display: inline;
    /* IE Fix (doubled-margin bug) */

}
.drfront .df-article.df-width-100 {
    width: 400px;
}
.drfront .df-article.df-left,
.drfront .df-img-container.df-left {
    float: left;
}
.drfront .df-article.df-right,
.drfront .df-img-container.df-right {
    float: right;
}
.drfront .df-container {
    clear: both;
    float: left;
    width: 100%;
}
.drfront .df-article-header-inner,
.drfront .df-container-header-inner {
    display: block;
}
.drfront .df-container-footer {
    clear: both;
}
.drfront .df-img-container {
    position: relative;
}
.drfront .df-img-container a,
.drfront .df-img-container a:hover {
    border: 0;
    text-decoration: none;
    cursor: pointer;
}
.drfront .df-img-container,
.drfront .df-img-container-inner {
    display: block;
}
.drfront .df-img-container .df-img-layer {
    display: none;
}
.drfront .df-img-container .df-img-layer a {
    display: block;
    width: 100%;
    height: 100%;
}
.drfront .df-img-container.df-left .article-image,
.drfront .df-img-container.df-right .article-image {
    display: inline;
    /* IE Fix (doubled-margin bug) */

}
.drfront img {
    border: none;
    display: inline;
    vertical-align: middle;
}
.drfront .df-article-img {
    vertical-align: middle;
}
.drfront .df-clearer {
    clear: both;
}
.drfront .df-empty {
    display: none;
}
.drfront .df-article-content:after {
    content: "";
    display: table;
    clear: both;
}
#drfront .df-article-content span.df-forecolor * {
    color: inherit !important;
    /* Fix for changing colors on links */

    color: expression(this.parentNode.currentStyle.color) !important;
    /* IE Fix for lacking "inherit" support */

}
/* Classes used to resize text */
.drfront {
    /* font-size classes */

    /* line-height classes */

    /* letter-spacing classes */

    /* word-spacing classes */

}
.drfront .df-fs-256 {
    font-size: 256px;
}
.drfront .df-fs-255 {
    font-size: 255px;
}
.drfront .df-fs-254 {
    font-size: 254px;
}
.drfront .df-fs-253 {
    font-size: 253px;
}
.drfront .df-fs-252 {
    font-size: 252px;
}
.drfront .df-fs-251 {
    font-size: 251px;
}
.drfront .df-fs-250 {
    font-size: 250px;
}
.drfront .df-fs-249 {
    font-size: 249px;
}
.drfront .df-fs-248 {
    font-size: 248px;
}
.drfront .df-fs-247 {
    font-size: 247px;
}
.drfront .df-fs-246 {
    font-size: 246px;
}
.drfront .df-fs-245 {
    font-size: 245px;
}
.drfront .df-fs-244 {
    font-size: 244px;
}
.drfront .df-fs-243 {
    font-size: 243px;
}
.drfront .df-fs-242 {
    font-size: 242px;
}
.drfront .df-fs-241 {
    font-size: 241px;
}
.drfront .df-fs-240 {
    font-size: 240px;
}
.drfront .df-fs-239 {
    font-size: 239px;
}
.drfront .df-fs-238 {
    font-size: 238px;
}
.drfront .df-fs-237 {
    font-size: 237px;
}
.drfront .df-fs-236 {
    font-size: 236px;
}
.drfront .df-fs-235 {
    font-size: 235px;
}
.drfront .df-fs-234 {
    font-size: 234px;
}
.drfront .df-fs-233 {
    font-size: 233px;
}
.drfront .df-fs-232 {
    font-size: 232px;
}
.drfront .df-fs-231 {
    font-size: 231px;
}
.drfront .df-fs-230 {
    font-size: 230px;
}
.drfront .df-fs-229 {
    font-size: 229px;
}
.drfront .df-fs-228 {
    font-size: 228px;
}
.drfront .df-fs-227 {
    font-size: 227px;
}
.drfront .df-fs-226 {
    font-size: 226px;
}
.drfront .df-fs-225 {
    font-size: 225px;
}
.drfront .df-fs-224 {
    font-size: 224px;
}
.drfront .df-fs-223 {
    font-size: 223px;
}
.drfront .df-fs-222 {
    font-size: 222px;
}
.drfront .df-fs-221 {
    font-size: 221px;
}
.drfront .df-fs-220 {
    font-size: 220px;
}
.drfront .df-fs-219 {
    font-size: 219px;
}
.drfront .df-fs-218 {
    font-size: 218px;
}
.drfront .df-fs-217 {
    font-size: 217px;
}
.drfront .df-fs-216 {
    font-size: 216px;
}
.drfront .df-fs-215 {
    font-size: 215px;
}
.drfront .df-fs-214 {
    font-size: 214px;
}
.drfront .df-fs-213 {
    font-size: 213px;
}
.drfront .df-fs-212 {
    font-size: 212px;
}
.drfront .df-fs-211 {
    font-size: 211px;
}
.drfront .df-fs-210 {
    font-size: 210px;
}
.drfront .df-fs-209 {
    font-size: 209px;
}
.drfront .df-fs-208 {
    font-size: 208px;
}
.drfront .df-fs-207 {
    font-size: 207px;
}
.drfront .df-fs-206 {
    font-size: 206px;
}
.drfront .df-fs-205 {
    font-size: 205px;
}
.drfront .df-fs-204 {
    font-size: 204px;
}
.drfront .df-fs-203 {
    font-size: 203px;
}
.drfront .df-fs-202 {
    font-size: 202px;
}
.drfront .df-fs-201 {
    font-size: 201px;
}
.drfront .df-fs-200 {
    font-size: 200px;
}
.drfront .df-fs-199 {
    font-size: 199px;
}
.drfront .df-fs-198 {
    font-size: 198px;
}
.drfront .df-fs-197 {
    font-size: 197px;
}
.drfront .df-fs-196 {
    font-size: 196px;
}
.drfront .df-fs-195 {
    font-size: 195px;
}
.drfront .df-fs-194 {
    font-size: 194px;
}
.drfront .df-fs-193 {
    font-size: 193px;
}
.drfront .df-fs-192 {
    font-size: 192px;
}
.drfront .df-fs-191 {
    font-size: 191px;
}
.drfront .df-fs-190 {
    font-size: 190px;
}
.drfront .df-fs-189 {
    font-size: 189px;
}
.drfront .df-fs-188 {
    font-size: 188px;
}
.drfront .df-fs-187 {
    font-size: 187px;
}
.drfront .df-fs-186 {
    font-size: 186px;
}
.drfront .df-fs-185 {
    font-size: 185px;
}
.drfront .df-fs-184 {
    font-size: 184px;
}
.drfront .df-fs-183 {
    font-size: 183px;
}
.drfront .df-fs-182 {
    font-size: 182px;
}
.drfront .df-fs-181 {
    font-size: 181px;
}
.drfront .df-fs-180 {
    font-size: 180px;
}
.drfront .df-fs-179 {
    font-size: 179px;
}
.drfront .df-fs-178 {
    font-size: 178px;
}
.drfront .df-fs-177 {
    font-size: 177px;
}
.drfront .df-fs-176 {
    font-size: 176px;
}
.drfront .df-fs-175 {
    font-size: 175px;
}
.drfront .df-fs-174 {
    font-size: 174px;
}
.drfront .df-fs-173 {
    font-size: 173px;
}
.drfront .df-fs-172 {
    font-size: 172px;
}
.drfront .df-fs-171 {
    font-size: 171px;
}
.drfront .df-fs-170 {
    font-size: 170px;
}
.drfront .df-fs-169 {
    font-size: 169px;
}
.drfront .df-fs-168 {
    font-size: 168px;
}
.drfront .df-fs-167 {
    font-size: 167px;
}
.drfront .df-fs-166 {
    font-size: 166px;
}
.drfront .df-fs-165 {
    font-size: 165px;
}
.drfront .df-fs-164 {
    font-size: 164px;
}
.drfront .df-fs-163 {
    font-size: 163px;
}
.drfront .df-fs-162 {
    font-size: 162px;
}
.drfront .df-fs-161 {
    font-size: 161px;
}
.drfront .df-fs-160 {
    font-size: 160px;
}
.drfront .df-fs-159 {
    font-size: 159px;
}
.drfront .df-fs-158 {
    font-size: 158px;
}
.drfront .df-fs-157 {
    font-size: 157px;
}
.drfront .df-fs-156 {
    font-size: 156px;
}
.drfront .df-fs-155 {
    font-size: 155px;
}
.drfront .df-fs-154 {
    font-size: 154px;
}
.drfront .df-fs-153 {
    font-size: 153px;
}
.drfront .df-fs-152 {
    font-size: 152px;
}
.drfront .df-fs-151 {
    font-size: 151px;
}
.drfront .df-fs-150 {
    font-size: 150px;
}
.drfront .df-fs-149 {
    font-size: 149px;
}
.drfront .df-fs-148 {
    font-size: 148px;
}
.drfront .df-fs-147 {
    font-size: 147px;
}
.drfront .df-fs-146 {
    font-size: 146px;
}
.drfront .df-fs-145 {
    font-size: 145px;
}
.drfront .df-fs-144 {
    font-size: 144px;
}
.drfront .df-fs-143 {
    font-size: 143px;
}
.drfront .df-fs-142 {
    font-size: 142px;
}
.drfront .df-fs-141 {
    font-size: 141px;
}
.drfront .df-fs-140 {
    font-size: 140px;
}
.drfront .df-fs-139 {
    font-size: 139px;
}
.drfront .df-fs-138 {
    font-size: 138px;
}
.drfront .df-fs-137 {
    font-size: 137px;
}
.drfront .df-fs-136 {
    font-size: 136px;
}
.drfront .df-fs-135 {
    font-size: 135px;
}
.drfront .df-fs-134 {
    font-size: 134px;
}
.drfront .df-fs-133 {
    font-size: 133px;
}
.drfront .df-fs-132 {
    font-size: 132px;
}
.drfront .df-fs-131 {
    font-size: 131px;
}
.drfront .df-fs-130 {
    font-size: 130px;
}
.drfront .df-fs-129 {
    font-size: 129px;
}
.drfront .df-fs-128 {
    font-size: 128px;
}
.drfront .df-fs-127 {
    font-size: 127px;
}
.drfront .df-fs-126 {
    font-size: 126px;
}
.drfront .df-fs-125 {
    font-size: 125px;
}
.drfront .df-fs-124 {
    font-size: 124px;
}
.drfront .df-fs-123 {
    font-size: 123px;
}
.drfront .df-fs-122 {
    font-size: 122px;
}
.drfront .df-fs-121 {
    font-size: 121px;
}
.drfront .df-fs-120 {
    font-size: 120px;
}
.drfront .df-fs-119 {
    font-size: 119px;
}
.drfront .df-fs-118 {
    font-size: 118px;
}
.drfront .df-fs-117 {
    font-size: 117px;
}
.drfront .df-fs-116 {
    font-size: 116px;
}
.drfront .df-fs-115 {
    font-size: 115px;
}
.drfront .df-fs-114 {
    font-size: 114px;
}
.drfront .df-fs-113 {
    font-size: 113px;
}
.drfront .df-fs-112 {
    font-size: 112px;
}
.drfront .df-fs-111 {
    font-size: 111px;
}
.drfront .df-fs-110 {
    font-size: 110px;
}
.drfront .df-fs-109 {
    font-size: 109px;
}
.drfront .df-fs-108 {
    font-size: 108px;
}
.drfront .df-fs-107 {
    font-size: 107px;
}
.drfront .df-fs-106 {
    font-size: 106px;
}
.drfront .df-fs-105 {
    font-size: 105px;
}
.drfront .df-fs-104 {
    font-size: 104px;
}
.drfront .df-fs-103 {
    font-size: 103px;
}
.drfront .df-fs-102 {
    font-size: 102px;
}
.drfront .df-fs-101 {
    font-size: 101px;
}
.drfront .df-fs-100 {
    font-size: 100px;
}
.drfront .df-fs-99 {
    font-size: 99px;
}
.drfront .df-fs-98 {
    font-size: 98px;
}
.drfront .df-fs-97 {
    font-size: 97px;
}
.drfront .df-fs-96 {
    font-size: 96px;
}
.drfront .df-fs-95 {
    font-size: 95px;
}
.drfront .df-fs-94 {
    font-size: 94px;
}
.drfront .df-fs-93 {
    font-size: 93px;
}
.drfront .df-fs-92 {
    font-size: 92px;
}
.drfront .df-fs-91 {
    font-size: 91px;
}
.drfront .df-fs-90 {
    font-size: 90px;
}
.drfront .df-fs-89 {
    font-size: 89px;
}
.drfront .df-fs-88 {
    font-size: 88px;
}
.drfront .df-fs-87 {
    font-size: 87px;
}
.drfront .df-fs-86 {
    font-size: 86px;
}
.drfront .df-fs-85 {
    font-size: 85px;
}
.drfront .df-fs-84 {
    font-size: 84px;
}
.drfront .df-fs-83 {
    font-size: 83px;
}
.drfront .df-fs-82 {
    font-size: 82px;
}
.drfront .df-fs-81 {
    font-size: 81px;
}
.drfront .df-fs-80 {
    font-size: 80px;
}
.drfront .df-fs-79 {
    font-size: 79px;
}
.drfront .df-fs-78 {
    font-size: 78px;
}
.drfront .df-fs-77 {
    font-size: 77px;
}
.drfront .df-fs-76 {
    font-size: 76px;
}
.drfront .df-fs-75 {
    font-size: 75px;
}
.drfront .df-fs-74 {
    font-size: 74px;
}
.drfront .df-fs-73 {
    font-size: 73px;
}
.drfront .df-fs-72 {
    font-size: 72px;
}
.drfront .df-fs-71 {
    font-size: 71px;
}
.drfront .df-fs-70 {
    font-size: 70px;
}
.drfront .df-fs-69 {
    font-size: 69px;
}
.drfront .df-fs-68 {
    font-size: 68px;
}
.drfront .df-fs-67 {
    font-size: 67px;
}
.drfront .df-fs-66 {
    font-size: 66px;
}
.drfront .df-fs-65 {
    font-size: 65px;
}
.drfront .df-fs-64 {
    font-size: 64px;
}
.drfront .df-fs-63 {
    font-size: 63px;
}
.drfront .df-fs-62 {
    font-size: 62px;
}
.drfront .df-fs-61 {
    font-size: 61px;
}
.drfront .df-fs-60 {
    font-size: 60px;
}
.drfront .df-fs-59 {
    font-size: 59px;
}
.drfront .df-fs-58 {
    font-size: 58px;
}
.drfront .df-fs-57 {
    font-size: 57px;
}
.drfront .df-fs-56 {
    font-size: 56px;
}
.drfront .df-fs-55 {
    font-size: 55px;
}
.drfront .df-fs-54 {
    font-size: 54px;
}
.drfront .df-fs-53 {
    font-size: 53px;
}
.drfront .df-fs-52 {
    font-size: 52px;
}
.drfront .df-fs-51 {
    font-size: 51px;
}
.drfront .df-fs-50 {
    font-size: 50px;
}
.drfront .df-fs-49 {
    font-size: 49px;
}
.drfront .df-fs-48 {
    font-size: 48px;
}
.drfront .df-fs-47 {
    font-size: 47px;
}
.drfront .df-fs-46 {
    font-size: 46px;
}
.drfront .df-fs-45 {
    font-size: 45px;
}
.drfront .df-fs-44 {
    font-size: 44px;
}
.drfront .df-fs-43 {
    font-size: 43px;
}
.drfront .df-fs-42 {
    font-size: 42px;
}
.drfront .df-fs-41 {
    font-size: 41px;
}
.drfront .df-fs-40 {
    font-size: 40px;
}
.drfront .df-fs-39 {
    font-size: 39px;
}
.drfront .df-fs-38 {
    font-size: 38px;
}
.drfront .df-fs-37 {
    font-size: 37px;
}
.drfront .df-fs-36 {
    font-size: 36px;
}
.drfront .df-fs-35 {
    font-size: 35px;
}
.drfront .df-fs-34 {
    font-size: 34px;
}
.drfront .df-fs-33 {
    font-size: 33px;
}
.drfront .df-fs-32 {
    font-size: 32px;
}
.drfront .df-fs-31 {
    font-size: 31px;
}
.drfront .df-fs-30 {
    font-size: 30px;
}
.drfront .df-fs-29 {
    font-size: 29px;
}
.drfront .df-fs-28 {
    font-size: 28px;
}
.drfront .df-fs-27 {
    font-size: 27px;
}
.drfront .df-fs-26 {
    font-size: 26px;
}
.drfront .df-fs-25 {
    font-size: 25px;
}
.drfront .df-fs-24 {
    font-size: 24px;
}
.drfront .df-fs-23 {
    font-size: 23px;
}
.drfront .df-fs-22 {
    font-size: 22px;
}
.drfront .df-fs-21 {
    font-size: 21px;
}
.drfront .df-fs-20 {
    font-size: 20px;
}
.drfront .df-fs-19 {
    font-size: 19px;
}
.drfront .df-fs-18 {
    font-size: 18px;
}
.drfront .df-fs-17 {
    font-size: 17px;
}
.drfront .df-fs-16 {
    font-size: 16px;
}
.drfront .df-fs-15 {
    font-size: 15px;
}
.drfront .df-fs-14 {
    font-size: 14px;
}
.drfront .df-fs-13 {
    font-size: 13px;
}
.drfront .df-fs-12 {
    font-size: 12px;
}
.drfront .df-fs-11 {
    font-size: 11px;
}
.drfront .df-fs-10 {
    font-size: 10px;
}
.drfront .df-fs-9 {
    font-size: 9px;
}
.drfront .df-fs-8 {
    font-size: 8px;
}
.drfront .df-fs-7 {
    font-size: 7px;
}
.drfront .df-fs-6 {
    font-size: 6px;
}
.drfront .df-fs-5 {
    font-size: 5px;
}
.drfront .df-fs-4 {
    font-size: 4px;
}
.drfront .df-fs-3 {
    font-size: 3px;
}
.drfront .df-fs-2 {
    font-size: 2px;
}
.drfront .df-fs-1 {
    font-size: 1px;
}
.drfront .df-lh-256 {
    line-height: 256px;
}
.drfront .df-lh-255 {
    line-height: 255px;
}
.drfront .df-lh-254 {
    line-height: 254px;
}
.drfront .df-lh-253 {
    line-height: 253px;
}
.drfront .df-lh-252 {
    line-height: 252px;
}
.drfront .df-lh-251 {
    line-height: 251px;
}
.drfront .df-lh-250 {
    line-height: 250px;
}
.drfront .df-lh-249 {
    line-height: 249px;
}
.drfront .df-lh-248 {
    line-height: 248px;
}
.drfront .df-lh-247 {
    line-height: 247px;
}
.drfront .df-lh-246 {
    line-height: 246px;
}
.drfront .df-lh-245 {
    line-height: 245px;
}
.drfront .df-lh-244 {
    line-height: 244px;
}
.drfront .df-lh-243 {
    line-height: 243px;
}
.drfront .df-lh-242 {
    line-height: 242px;
}
.drfront .df-lh-241 {
    line-height: 241px;
}
.drfront .df-lh-240 {
    line-height: 240px;
}
.drfront .df-lh-239 {
    line-height: 239px;
}
.drfront .df-lh-238 {
    line-height: 238px;
}
.drfront .df-lh-237 {
    line-height: 237px;
}
.drfront .df-lh-236 {
    line-height: 236px;
}
.drfront .df-lh-235 {
    line-height: 235px;
}
.drfront .df-lh-234 {
    line-height: 234px;
}
.drfront .df-lh-233 {
    line-height: 233px;
}
.drfront .df-lh-232 {
    line-height: 232px;
}
.drfront .df-lh-231 {
    line-height: 231px;
}
.drfront .df-lh-230 {
    line-height: 230px;
}
.drfront .df-lh-229 {
    line-height: 229px;
}
.drfront .df-lh-228 {
    line-height: 228px;
}
.drfront .df-lh-227 {
    line-height: 227px;
}
.drfront .df-lh-226 {
    line-height: 226px;
}
.drfront .df-lh-225 {
    line-height: 225px;
}
.drfront .df-lh-224 {
    line-height: 224px;
}
.drfront .df-lh-223 {
    line-height: 223px;
}
.drfront .df-lh-222 {
    line-height: 222px;
}
.drfront .df-lh-221 {
    line-height: 221px;
}
.drfront .df-lh-220 {
    line-height: 220px;
}
.drfront .df-lh-219 {
    line-height: 219px;
}
.drfront .df-lh-218 {
    line-height: 218px;
}
.drfront .df-lh-217 {
    line-height: 217px;
}
.drfront .df-lh-216 {
    line-height: 216px;
}
.drfront .df-lh-215 {
    line-height: 215px;
}
.drfront .df-lh-214 {
    line-height: 214px;
}
.drfront .df-lh-213 {
    line-height: 213px;
}
.drfront .df-lh-212 {
    line-height: 212px;
}
.drfront .df-lh-211 {
    line-height: 211px;
}
.drfront .df-lh-210 {
    line-height: 210px;
}
.drfront .df-lh-209 {
    line-height: 209px;
}
.drfront .df-lh-208 {
    line-height: 208px;
}
.drfront .df-lh-207 {
    line-height: 207px;
}
.drfront .df-lh-206 {
    line-height: 206px;
}
.drfront .df-lh-205 {
    line-height: 205px;
}
.drfront .df-lh-204 {
    line-height: 204px;
}
.drfront .df-lh-203 {
    line-height: 203px;
}
.drfront .df-lh-202 {
    line-height: 202px;
}
.drfront .df-lh-201 {
    line-height: 201px;
}
.drfront .df-lh-200 {
    line-height: 200px;
}
.drfront .df-lh-199 {
    line-height: 199px;
}
.drfront .df-lh-198 {
    line-height: 198px;
}
.drfront .df-lh-197 {
    line-height: 197px;
}
.drfront .df-lh-196 {
    line-height: 196px;
}
.drfront .df-lh-195 {
    line-height: 195px;
}
.drfront .df-lh-194 {
    line-height: 194px;
}
.drfront .df-lh-193 {
    line-height: 193px;
}
.drfront .df-lh-192 {
    line-height: 192px;
}
.drfront .df-lh-191 {
    line-height: 191px;
}
.drfront .df-lh-190 {
    line-height: 190px;
}
.drfront .df-lh-189 {
    line-height: 189px;
}
.drfront .df-lh-188 {
    line-height: 188px;
}
.drfront .df-lh-187 {
    line-height: 187px;
}
.drfront .df-lh-186 {
    line-height: 186px;
}
.drfront .df-lh-185 {
    line-height: 185px;
}
.drfront .df-lh-184 {
    line-height: 184px;
}
.drfront .df-lh-183 {
    line-height: 183px;
}
.drfront .df-lh-182 {
    line-height: 182px;
}
.drfront .df-lh-181 {
    line-height: 181px;
}
.drfront .df-lh-180 {
    line-height: 180px;
}
.drfront .df-lh-179 {
    line-height: 179px;
}
.drfront .df-lh-178 {
    line-height: 178px;
}
.drfront .df-lh-177 {
    line-height: 177px;
}
.drfront .df-lh-176 {
    line-height: 176px;
}
.drfront .df-lh-175 {
    line-height: 175px;
}
.drfront .df-lh-174 {
    line-height: 174px;
}
.drfront .df-lh-173 {
    line-height: 173px;
}
.drfront .df-lh-172 {
    line-height: 172px;
}
.drfront .df-lh-171 {
    line-height: 171px;
}
.drfront .df-lh-170 {
    line-height: 170px;
}
.drfront .df-lh-169 {
    line-height: 169px;
}
.drfront .df-lh-168 {
    line-height: 168px;
}
.drfront .df-lh-167 {
    line-height: 167px;
}
.drfront .df-lh-166 {
    line-height: 166px;
}
.drfront .df-lh-165 {
    line-height: 165px;
}
.drfront .df-lh-164 {
    line-height: 164px;
}
.drfront .df-lh-163 {
    line-height: 163px;
}
.drfront .df-lh-162 {
    line-height: 162px;
}
.drfront .df-lh-161 {
    line-height: 161px;
}
.drfront .df-lh-160 {
    line-height: 160px;
}
.drfront .df-lh-159 {
    line-height: 159px;
}
.drfront .df-lh-158 {
    line-height: 158px;
}
.drfront .df-lh-157 {
    line-height: 157px;
}
.drfront .df-lh-156 {
    line-height: 156px;
}
.drfront .df-lh-155 {
    line-height: 155px;
}
.drfront .df-lh-154 {
    line-height: 154px;
}
.drfront .df-lh-153 {
    line-height: 153px;
}
.drfront .df-lh-152 {
    line-height: 152px;
}
.drfront .df-lh-151 {
    line-height: 151px;
}
.drfront .df-lh-150 {
    line-height: 150px;
}
.drfront .df-lh-149 {
    line-height: 149px;
}
.drfront .df-lh-148 {
    line-height: 148px;
}
.drfront .df-lh-147 {
    line-height: 147px;
}
.drfront .df-lh-146 {
    line-height: 146px;
}
.drfront .df-lh-145 {
    line-height: 145px;
}
.drfront .df-lh-144 {
    line-height: 144px;
}
.drfront .df-lh-143 {
    line-height: 143px;
}
.drfront .df-lh-142 {
    line-height: 142px;
}
.drfront .df-lh-141 {
    line-height: 141px;
}
.drfront .df-lh-140 {
    line-height: 140px;
}
.drfront .df-lh-139 {
    line-height: 139px;
}
.drfront .df-lh-138 {
    line-height: 138px;
}
.drfront .df-lh-137 {
    line-height: 137px;
}
.drfront .df-lh-136 {
    line-height: 136px;
}
.drfront .df-lh-135 {
    line-height: 135px;
}
.drfront .df-lh-134 {
    line-height: 134px;
}
.drfront .df-lh-133 {
    line-height: 133px;
}
.drfront .df-lh-132 {
    line-height: 132px;
}
.drfront .df-lh-131 {
    line-height: 131px;
}
.drfront .df-lh-130 {
    line-height: 130px;
}
.drfront .df-lh-129 {
    line-height: 129px;
}
.drfront .df-lh-128 {
    line-height: 128px;
}
.drfront .df-lh-127 {
    line-height: 127px;
}
.drfront .df-lh-126 {
    line-height: 126px;
}
.drfront .df-lh-125 {
    line-height: 125px;
}
.drfront .df-lh-124 {
    line-height: 124px;
}
.drfront .df-lh-123 {
    line-height: 123px;
}
.drfront .df-lh-122 {
    line-height: 122px;
}
.drfront .df-lh-121 {
    line-height: 121px;
}
.drfront .df-lh-120 {
    line-height: 120px;
}
.drfront .df-lh-119 {
    line-height: 119px;
}
.drfront .df-lh-118 {
    line-height: 118px;
}
.drfront .df-lh-117 {
    line-height: 117px;
}
.drfront .df-lh-116 {
    line-height: 116px;
}
.drfront .df-lh-115 {
    line-height: 115px;
}
.drfront .df-lh-114 {
    line-height: 114px;
}
.drfront .df-lh-113 {
    line-height: 113px;
}
.drfront .df-lh-112 {
    line-height: 112px;
}
.drfront .df-lh-111 {
    line-height: 111px;
}
.drfront .df-lh-110 {
    line-height: 110px;
}
.drfront .df-lh-109 {
    line-height: 109px;
}
.drfront .df-lh-108 {
    line-height: 108px;
}
.drfront .df-lh-107 {
    line-height: 107px;
}
.drfront .df-lh-106 {
    line-height: 106px;
}
.drfront .df-lh-105 {
    line-height: 105px;
}
.drfront .df-lh-104 {
    line-height: 104px;
}
.drfront .df-lh-103 {
    line-height: 103px;
}
.drfront .df-lh-102 {
    line-height: 102px;
}
.drfront .df-lh-101 {
    line-height: 101px;
}
.drfront .df-lh-100 {
    line-height: 100px;
}
.drfront .df-lh-99 {
    line-height: 99px;
}
.drfront .df-lh-98 {
    line-height: 98px;
}
.drfront .df-lh-97 {
    line-height: 97px;
}
.drfront .df-lh-96 {
    line-height: 96px;
}
.drfront .df-lh-95 {
    line-height: 95px;
}
.drfront .df-lh-94 {
    line-height: 94px;
}
.drfront .df-lh-93 {
    line-height: 93px;
}
.drfront .df-lh-92 {
    line-height: 92px;
}
.drfront .df-lh-91 {
    line-height: 91px;
}
.drfront .df-lh-90 {
    line-height: 90px;
}
.drfront .df-lh-89 {
    line-height: 89px;
}
.drfront .df-lh-88 {
    line-height: 88px;
}
.drfront .df-lh-87 {
    line-height: 87px;
}
.drfront .df-lh-86 {
    line-height: 86px;
}
.drfront .df-lh-85 {
    line-height: 85px;
}
.drfront .df-lh-84 {
    line-height: 84px;
}
.drfront .df-lh-83 {
    line-height: 83px;
}
.drfront .df-lh-82 {
    line-height: 82px;
}
.drfront .df-lh-81 {
    line-height: 81px;
}
.drfront .df-lh-80 {
    line-height: 80px;
}
.drfront .df-lh-79 {
    line-height: 79px;
}
.drfront .df-lh-78 {
    line-height: 78px;
}
.drfront .df-lh-77 {
    line-height: 77px;
}
.drfront .df-lh-76 {
    line-height: 76px;
}
.drfront .df-lh-75 {
    line-height: 75px;
}
.drfront .df-lh-74 {
    line-height: 74px;
}
.drfront .df-lh-73 {
    line-height: 73px;
}
.drfront .df-lh-72 {
    line-height: 72px;
}
.drfront .df-lh-71 {
    line-height: 71px;
}
.drfront .df-lh-70 {
    line-height: 70px;
}
.drfront .df-lh-69 {
    line-height: 69px;
}
.drfront .df-lh-68 {
    line-height: 68px;
}
.drfront .df-lh-67 {
    line-height: 67px;
}
.drfront .df-lh-66 {
    line-height: 66px;
}
.drfront .df-lh-65 {
    line-height: 65px;
}
.drfront .df-lh-64 {
    line-height: 64px;
}
.drfront .df-lh-63 {
    line-height: 63px;
}
.drfront .df-lh-62 {
    line-height: 62px;
}
.drfront .df-lh-61 {
    line-height: 61px;
}
.drfront .df-lh-60 {
    line-height: 60px;
}
.drfront .df-lh-59 {
    line-height: 59px;
}
.drfront .df-lh-58 {
    line-height: 58px;
}
.drfront .df-lh-57 {
    line-height: 57px;
}
.drfront .df-lh-56 {
    line-height: 56px;
}
.drfront .df-lh-55 {
    line-height: 55px;
}
.drfront .df-lh-54 {
    line-height: 54px;
}
.drfront .df-lh-53 {
    line-height: 53px;
}
.drfront .df-lh-52 {
    line-height: 52px;
}
.drfront .df-lh-51 {
    line-height: 51px;
}
.drfront .df-lh-50 {
    line-height: 50px;
}
.drfront .df-lh-49 {
    line-height: 49px;
}
.drfront .df-lh-48 {
    line-height: 48px;
}
.drfront .df-lh-47 {
    line-height: 47px;
}
.drfront .df-lh-46 {
    line-height: 46px;
}
.drfront .df-lh-45 {
    line-height: 45px;
}
.drfront .df-lh-44 {
    line-height: 44px;
}
.drfront .df-lh-43 {
    line-height: 43px;
}
.drfront .df-lh-42 {
    line-height: 42px;
}
.drfront .df-lh-41 {
    line-height: 41px;
}
.drfront .df-lh-40 {
    line-height: 40px;
}
.drfront .df-lh-39 {
    line-height: 39px;
}
.drfront .df-lh-38 {
    line-height: 38px;
}
.drfront .df-lh-37 {
    line-height: 37px;
}
.drfront .df-lh-36 {
    line-height: 36px;
}
.drfront .df-lh-35 {
    line-height: 35px;
}
.drfront .df-lh-34 {
    line-height: 34px;
}
.drfront .df-lh-33 {
    line-height: 33px;
}
.drfront .df-lh-32 {
    line-height: 32px;
}
.drfront .df-lh-31 {
    line-height: 31px;
}
.drfront .df-lh-30 {
    line-height: 30px;
}
.drfront .df-lh-29 {
    line-height: 29px;
}
.drfront .df-lh-28 {
    line-height: 28px;
}
.drfront .df-lh-27 {
    line-height: 27px;
}
.drfront .df-lh-26 {
    line-height: 26px;
}
.drfront .df-lh-25 {
    line-height: 25px;
}
.drfront .df-lh-24 {
    line-height: 24px;
}
.drfront .df-lh-23 {
    line-height: 23px;
}
.drfront .df-lh-22 {
    line-height: 22px;
}
.drfront .df-lh-21 {
    line-height: 21px;
}
.drfront .df-lh-20 {
    line-height: 20px;
}
.drfront .df-lh-19 {
    line-height: 19px;
}
.drfront .df-lh-18 {
    line-height: 18px;
}
.drfront .df-lh-17 {
    line-height: 17px;
}
.drfront .df-lh-16 {
    line-height: 16px;
}
.drfront .df-lh-15 {
    line-height: 15px;
}
.drfront .df-lh-14 {
    line-height: 14px;
}
.drfront .df-lh-13 {
    line-height: 13px;
}
.drfront .df-lh-12 {
    line-height: 12px;
}
.drfront .df-lh-11 {
    line-height: 11px;
}
.drfront .df-lh-10 {
    line-height: 10px;
}
.drfront .df-lh-9 {
    line-height: 9px;
}
.drfront .df-lh-8 {
    line-height: 8px;
}
.drfront .df-lh-7 {
    line-height: 7px;
}
.drfront .df-lh-6 {
    line-height: 6px;
}
.drfront .df-lh-5 {
    line-height: 5px;
}
.drfront .df-lh-4 {
    line-height: 4px;
}
.drfront .df-lh-3 {
    line-height: 3px;
}
.drfront .df-lh-2 {
    line-height: 2px;
}
.drfront .df-lh-1 {
    line-height: 1px;
}
.drfront .df-ls-64 {
    letter-spacing: 64px;
}
.drfront .df-ls-63 {
    letter-spacing: 63px;
}
.drfront .df-ls-62 {
    letter-spacing: 62px;
}
.drfront .df-ls-61 {
    letter-spacing: 61px;
}
.drfront .df-ls-60 {
    letter-spacing: 60px;
}
.drfront .df-ls-59 {
    letter-spacing: 59px;
}
.drfront .df-ls-58 {
    letter-spacing: 58px;
}
.drfront .df-ls-57 {
    letter-spacing: 57px;
}
.drfront .df-ls-56 {
    letter-spacing: 56px;
}
.drfront .df-ls-55 {
    letter-spacing: 55px;
}
.drfront .df-ls-54 {
    letter-spacing: 54px;
}
.drfront .df-ls-53 {
    letter-spacing: 53px;
}
.drfront .df-ls-52 {
    letter-spacing: 52px;
}
.drfront .df-ls-51 {
    letter-spacing: 51px;
}
.drfront .df-ls-50 {
    letter-spacing: 50px;
}
.drfront .df-ls-49 {
    letter-spacing: 49px;
}
.drfront .df-ls-48 {
    letter-spacing: 48px;
}
.drfront .df-ls-47 {
    letter-spacing: 47px;
}
.drfront .df-ls-46 {
    letter-spacing: 46px;
}
.drfront .df-ls-45 {
    letter-spacing: 45px;
}
.drfront .df-ls-44 {
    letter-spacing: 44px;
}
.drfront .df-ls-43 {
    letter-spacing: 43px;
}
.drfront .df-ls-42 {
    letter-spacing: 42px;
}
.drfront .df-ls-41 {
    letter-spacing: 41px;
}
.drfront .df-ls-40 {
    letter-spacing: 40px;
}
.drfront .df-ls-39 {
    letter-spacing: 39px;
}
.drfront .df-ls-38 {
    letter-spacing: 38px;
}
.drfront .df-ls-37 {
    letter-spacing: 37px;
}
.drfront .df-ls-36 {
    letter-spacing: 36px;
}
.drfront .df-ls-35 {
    letter-spacing: 35px;
}
.drfront .df-ls-34 {
    letter-spacing: 34px;
}
.drfront .df-ls-33 {
    letter-spacing: 33px;
}
.drfront .df-ls-32 {
    letter-spacing: 32px;
}
.drfront .df-ls-31 {
    letter-spacing: 31px;
}
.drfront .df-ls-30 {
    letter-spacing: 30px;
}
.drfront .df-ls-29 {
    letter-spacing: 29px;
}
.drfront .df-ls-28 {
    letter-spacing: 28px;
}
.drfront .df-ls-27 {
    letter-spacing: 27px;
}
.drfront .df-ls-26 {
    letter-spacing: 26px;
}
.drfront .df-ls-25 {
    letter-spacing: 25px;
}
.drfront .df-ls-24 {
    letter-spacing: 24px;
}
.drfront .df-ls-23 {
    letter-spacing: 23px;
}
.drfront .df-ls-22 {
    letter-spacing: 22px;
}
.drfront .df-ls-21 {
    letter-spacing: 21px;
}
.drfront .df-ls-20 {
    letter-spacing: 20px;
}
.drfront .df-ls-19 {
    letter-spacing: 19px;
}
.drfront .df-ls-18 {
    letter-spacing: 18px;
}
.drfront .df-ls-17 {
    letter-spacing: 17px;
}
.drfront .df-ls-16 {
    letter-spacing: 16px;
}
.drfront .df-ls-15 {
    letter-spacing: 15px;
}
.drfront .df-ls-14 {
    letter-spacing: 14px;
}
.drfront .df-ls-13 {
    letter-spacing: 13px;
}
.drfront .df-ls-12 {
    letter-spacing: 12px;
}
.drfront .df-ls-11 {
    letter-spacing: 11px;
}
.drfront .df-ls-10 {
    letter-spacing: 10px;
}
.drfront .df-ls-9 {
    letter-spacing: 9px;
}
.drfront .df-ls-8 {
    letter-spacing: 8px;
}
.drfront .df-ls-7 {
    letter-spacing: 7px;
}
.drfront .df-ls-6 {
    letter-spacing: 6px;
}
.drfront .df-ls-5 {
    letter-spacing: 5px;
}
.drfront .df-ls-4 {
    letter-spacing: 4px;
}
.drfront .df-ls-3 {
    letter-spacing: 3px;
}
.drfront .df-ls-2 {
    letter-spacing: 2px;
}
.drfront .df-ls-1 {
    letter-spacing: 1px;
}
.drfront .df-ls-0 {
    letter-spacing: 0px;
}
.drfront .df-ls--1 {
    letter-spacing: -1px;
}
.drfront .df-ls--2 {
    letter-spacing: -2px;
}
.drfront .df-ls--3 {
    letter-spacing: -3px;
}
.drfront .df-ls--4 {
    letter-spacing: -4px;
}
.drfront .df-ls--5 {
    letter-spacing: -5px;
}
.drfront .df-ls--6 {
    letter-spacing: -6px;
}
.drfront .df-ls--7 {
    letter-spacing: -7px;
}
.drfront .df-ls--8 {
    letter-spacing: -8px;
}
.drfront .df-ls--9 {
    letter-spacing: -9px;
}
.drfront .df-ls--10 {
    letter-spacing: -10px;
}
.drfront .df-ls--11 {
    letter-spacing: -11px;
}
.drfront .df-ls--12 {
    letter-spacing: -12px;
}
.drfront .df-ls--13 {
    letter-spacing: -13px;
}
.drfront .df-ls--14 {
    letter-spacing: -14px;
}
.drfront .df-ls--15 {
    letter-spacing: -15px;
}
.drfront .df-ls--16 {
    letter-spacing: -16px;
}
.drfront .df-ls--17 {
    letter-spacing: -17px;
}
.drfront .df-ls--18 {
    letter-spacing: -18px;
}
.drfront .df-ls--19 {
    letter-spacing: -19px;
}
.drfront .df-ls--20 {
    letter-spacing: -20px;
}
.drfront .df-ls--21 {
    letter-spacing: -21px;
}
.drfront .df-ls--22 {
    letter-spacing: -22px;
}
.drfront .df-ls--23 {
    letter-spacing: -23px;
}
.drfront .df-ls--24 {
    letter-spacing: -24px;
}
.drfront .df-ls--25 {
    letter-spacing: -25px;
}
.drfront .df-ls--26 {
    letter-spacing: -26px;
}
.drfront .df-ls--27 {
    letter-spacing: -27px;
}
.drfront .df-ls--28 {
    letter-spacing: -28px;
}
.drfront .df-ls--29 {
    letter-spacing: -29px;
}
.drfront .df-ls--30 {
    letter-spacing: -30px;
}
.drfront .df-ls--31 {
    letter-spacing: -31px;
}
.drfront .df-ls--32 {
    letter-spacing: -32px;
}
.drfront .df-ls--33 {
    letter-spacing: -33px;
}
.drfront .df-ls--34 {
    letter-spacing: -34px;
}
.drfront .df-ls--35 {
    letter-spacing: -35px;
}
.drfront .df-ls--36 {
    letter-spacing: -36px;
}
.drfront .df-ls--37 {
    letter-spacing: -37px;
}
.drfront .df-ls--38 {
    letter-spacing: -38px;
}
.drfront .df-ls--39 {
    letter-spacing: -39px;
}
.drfront .df-ls--40 {
    letter-spacing: -40px;
}
.drfront .df-ls--41 {
    letter-spacing: -41px;
}
.drfront .df-ls--42 {
    letter-spacing: -42px;
}
.drfront .df-ls--43 {
    letter-spacing: -43px;
}
.drfront .df-ls--44 {
    letter-spacing: -44px;
}
.drfront .df-ls--45 {
    letter-spacing: -45px;
}
.drfront .df-ls--46 {
    letter-spacing: -46px;
}
.drfront .df-ls--47 {
    letter-spacing: -47px;
}
.drfront .df-ls--48 {
    letter-spacing: -48px;
}
.drfront .df-ls--49 {
    letter-spacing: -49px;
}
.drfront .df-ls--50 {
    letter-spacing: -50px;
}
.drfront .df-ls--51 {
    letter-spacing: -51px;
}
.drfront .df-ls--52 {
    letter-spacing: -52px;
}
.drfront .df-ls--53 {
    letter-spacing: -53px;
}
.drfront .df-ls--54 {
    letter-spacing: -54px;
}
.drfront .df-ls--55 {
    letter-spacing: -55px;
}
.drfront .df-ls--56 {
    letter-spacing: -56px;
}
.drfront .df-ls--57 {
    letter-spacing: -57px;
}
.drfront .df-ls--58 {
    letter-spacing: -58px;
}
.drfront .df-ls--59 {
    letter-spacing: -59px;
}
.drfront .df-ls--60 {
    letter-spacing: -60px;
}
.drfront .df-ls--61 {
    letter-spacing: -61px;
}
.drfront .df-ls--62 {
    letter-spacing: -62px;
}
.drfront .df-ls--63 {
    letter-spacing: -63px;
}
.drfront .df-ls--64 {
    letter-spacing: -64px;
}
.drfront .df-ws-64 {
    word-spacing: 64px;
}
.drfront .df-ws-63 {
    word-spacing: 63px;
}
.drfront .df-ws-62 {
    word-spacing: 62px;
}
.drfront .df-ws-61 {
    word-spacing: 61px;
}
.drfront .df-ws-60 {
    word-spacing: 60px;
}
.drfront .df-ws-59 {
    word-spacing: 59px;
}
.drfront .df-ws-58 {
    word-spacing: 58px;
}
.drfront .df-ws-57 {
    word-spacing: 57px;
}
.drfront .df-ws-56 {
    word-spacing: 56px;
}
.drfront .df-ws-55 {
    word-spacing: 55px;
}
.drfront .df-ws-54 {
    word-spacing: 54px;
}
.drfront .df-ws-53 {
    word-spacing: 53px;
}
.drfront .df-ws-52 {
    word-spacing: 52px;
}
.drfront .df-ws-51 {
    word-spacing: 51px;
}
.drfront .df-ws-50 {
    word-spacing: 50px;
}
.drfront .df-ws-49 {
    word-spacing: 49px;
}
.drfront .df-ws-48 {
    word-spacing: 48px;
}
.drfront .df-ws-47 {
    word-spacing: 47px;
}
.drfront .df-ws-46 {
    word-spacing: 46px;
}
.drfront .df-ws-45 {
    word-spacing: 45px;
}
.drfront .df-ws-44 {
    word-spacing: 44px;
}
.drfront .df-ws-43 {
    word-spacing: 43px;
}
.drfront .df-ws-42 {
    word-spacing: 42px;
}
.drfront .df-ws-41 {
    word-spacing: 41px;
}
.drfront .df-ws-40 {
    word-spacing: 40px;
}
.drfront .df-ws-39 {
    word-spacing: 39px;
}
.drfront .df-ws-38 {
    word-spacing: 38px;
}
.drfront .df-ws-37 {
    word-spacing: 37px;
}
.drfront .df-ws-36 {
    word-spacing: 36px;
}
.drfront .df-ws-35 {
    word-spacing: 35px;
}
.drfront .df-ws-34 {
    word-spacing: 34px;
}
.drfront .df-ws-33 {
    word-spacing: 33px;
}
.drfront .df-ws-32 {
    word-spacing: 32px;
}
.drfront .df-ws-31 {
    word-spacing: 31px;
}
.drfront .df-ws-30 {
    word-spacing: 30px;
}
.drfront .df-ws-29 {
    word-spacing: 29px;
}
.drfront .df-ws-28 {
    word-spacing: 28px;
}
.drfront .df-ws-27 {
    word-spacing: 27px;
}
.drfront .df-ws-26 {
    word-spacing: 26px;
}
.drfront .df-ws-25 {
    word-spacing: 25px;
}
.drfront .df-ws-24 {
    word-spacing: 24px;
}
.drfront .df-ws-23 {
    word-spacing: 23px;
}
.drfront .df-ws-22 {
    word-spacing: 22px;
}
.drfront .df-ws-21 {
    word-spacing: 21px;
}
.drfront .df-ws-20 {
    word-spacing: 20px;
}
.drfront .df-ws-19 {
    word-spacing: 19px;
}
.drfront .df-ws-18 {
    word-spacing: 18px;
}
.drfront .df-ws-17 {
    word-spacing: 17px;
}
.drfront .df-ws-16 {
    word-spacing: 16px;
}
.drfront .df-ws-15 {
    word-spacing: 15px;
}
.drfront .df-ws-14 {
    word-spacing: 14px;
}
.drfront .df-ws-13 {
    word-spacing: 13px;
}
.drfront .df-ws-12 {
    word-spacing: 12px;
}
.drfront .df-ws-11 {
    word-spacing: 11px;
}
.drfront .df-ws-10 {
    word-spacing: 10px;
}
.drfront .df-ws-9 {
    word-spacing: 9px;
}
.drfront .df-ws-8 {
    word-spacing: 8px;
}
.drfront .df-ws-7 {
    word-spacing: 7px;
}
.drfront .df-ws-6 {
    word-spacing: 6px;
}
.drfront .df-ws-5 {
    word-spacing: 5px;
}
.drfront .df-ws-4 {
    word-spacing: 4px;
}
.drfront .df-ws-3 {
    word-spacing: 3px;
}
.drfront .df-ws-2 {
    word-spacing: 2px;
}
.drfront .df-ws-1 {
    word-spacing: 1px;
}
.drfront .df-ws-0 {
    word-spacing: 0px;
}
.drfront .df-ws--1 {
    word-spacing: -1px;
}
.drfront .df-ws--2 {
    word-spacing: -2px;
}
.drfront .df-ws--3 {
    word-spacing: -3px;
}
.drfront .df-ws--4 {
    word-spacing: -4px;
}
.drfront .df-ws--5 {
    word-spacing: -5px;
}
.drfront .df-ws--6 {
    word-spacing: -6px;
}
.drfront .df-ws--7 {
    word-spacing: -7px;
}
.drfront .df-ws--8 {
    word-spacing: -8px;
}
.drfront .df-ws--9 {
    word-spacing: -9px;
}
.drfront .df-ws--10 {
    word-spacing: -10px;
}
.drfront .df-ws--11 {
    word-spacing: -11px;
}
.drfront .df-ws--12 {
    word-spacing: -12px;
}
.drfront .df-ws--13 {
    word-spacing: -13px;
}
.drfront .df-ws--14 {
    word-spacing: -14px;
}
.drfront .df-ws--15 {
    word-spacing: -15px;
}
.drfront .df-ws--16 {
    word-spacing: -16px;
}
.drfront .df-ws--17 {
    word-spacing: -17px;
}
.drfront .df-ws--18 {
    word-spacing: -18px;
}
.drfront .df-ws--19 {
    word-spacing: -19px;
}
.drfront .df-ws--20 {
    word-spacing: -20px;
}
.drfront .df-ws--21 {
    word-spacing: -21px;
}
.drfront .df-ws--22 {
    word-spacing: -22px;
}
.drfront .df-ws--23 {
    word-spacing: -23px;
}
.drfront .df-ws--24 {
    word-spacing: -24px;
}
.drfront .df-ws--25 {
    word-spacing: -25px;
}
.drfront .df-ws--26 {
    word-spacing: -26px;
}
.drfront .df-ws--27 {
    word-spacing: -27px;
}
.drfront .df-ws--28 {
    word-spacing: -28px;
}
.drfront .df-ws--29 {
    word-spacing: -29px;
}
.drfront .df-ws--30 {
    word-spacing: -30px;
}
.drfront .df-ws--31 {
    word-spacing: -31px;
}
.drfront .df-ws--32 {
    word-spacing: -32px;
}
.drfront .df-ws--33 {
    word-spacing: -33px;
}
.drfront .df-ws--34 {
    word-spacing: -34px;
}
.drfront .df-ws--35 {
    word-spacing: -35px;
}
.drfront .df-ws--36 {
    word-spacing: -36px;
}
.drfront .df-ws--37 {
    word-spacing: -37px;
}
.drfront .df-ws--38 {
    word-spacing: -38px;
}
.drfront .df-ws--39 {
    word-spacing: -39px;
}
.drfront .df-ws--40 {
    word-spacing: -40px;
}
.drfront .df-ws--41 {
    word-spacing: -41px;
}
.drfront .df-ws--42 {
    word-spacing: -42px;
}
.drfront .df-ws--43 {
    word-spacing: -43px;
}
.drfront .df-ws--44 {
    word-spacing: -44px;
}
.drfront .df-ws--45 {
    word-spacing: -45px;
}
.drfront .df-ws--46 {
    word-spacing: -46px;
}
.drfront .df-ws--47 {
    word-spacing: -47px;
}
.drfront .df-ws--48 {
    word-spacing: -48px;
}
.drfront .df-ws--49 {
    word-spacing: -49px;
}
.drfront .df-ws--50 {
    word-spacing: -50px;
}
.drfront .df-ws--51 {
    word-spacing: -51px;
}
.drfront .df-ws--52 {
    word-spacing: -52px;
}
.drfront .df-ws--53 {
    word-spacing: -53px;
}
.drfront .df-ws--54 {
    word-spacing: -54px;
}
.drfront .df-ws--55 {
    word-spacing: -55px;
}
.drfront .df-ws--56 {
    word-spacing: -56px;
}
.drfront .df-ws--57 {
    word-spacing: -57px;
}
.drfront .df-ws--58 {
    word-spacing: -58px;
}
.drfront .df-ws--59 {
    word-spacing: -59px;
}
.drfront .df-ws--60 {
    word-spacing: -60px;
}
.drfront .df-ws--61 {
    word-spacing: -61px;
}
.drfront .df-ws--62 {
    word-spacing: -62px;
}
.drfront .df-ws--63 {
    word-spacing: -63px;
}
.drfront .df-ws--64 {
    word-spacing: -64px;
}
