
/**
* result listing
**/
.ng-scope .row {
	margin-bottom: 20px;
	border-bottom: 2px solid #eee;
	padding-bottom: 10px;
}

.resultsWrap ul {
	list-style-type: none;
	margin: 0;
	-webkit-padding-start: 0;
}

.resultsWrap li {
	margin: 12px 0;
}

.resultList li {
	float: left;
	width: 18%;
	margin: 1%;
}

.resultList .btn {
	white-space: normal;
	min-height: 55px;
}

.caseList li {
	float: left;
	margin: 10px;
}

.pageWrap img {
	width: 100%;
	margin-top: -50px;
	margin-left: -50px;
}

.fullImg .pageWrap img { 
	margin-top: 0px;
	margin-left: 0px; 
} 

.pageImg {
	width: 100%;
	overflow: hidden;
}

/** 
*  form styles
*/
.fullSearch { width: 59%;}

.api_search_form #q { 	width: 60%; }


/**
* buttons, oh buttons
**/
.buttonRows li {
	float: left;
	margin: 10px;
}
.buttonRows ul {
	list-style: none;
	-webkit-padding-start: 0px;
}

.buttonRows p {
	clear: both;
}

.services .btn {
	height: 90px;
	vertical-align: middle;
}

/**
* county icons sprite for buttons
**/
.knapp span {
	background-image: url('http://static.fvn.no/img/logo/kommunevapen.png');
	background-repeat: no-repeat;
	padding-left: 40px;
	background-position: 5px  100px;
}

.c1026 span { background-position: 5px   0px;  }
.c1027  span { background-position: 5px -50px; 	}
.c1003  span { background-position: 5px -100px; }
.c1004  span { background-position: 5px -150px; }
.c1034  span { background-position: 5px -200px; }
.c1001  span { background-position: 5px -254px; }
.c1037  span { background-position: 5px -300px; }
.c1029  span { background-position: 5px -350px; }
.c1032  span { background-position: 5px -400px; }
.c1002  span { background-position: 5px -450px; }
.c1021  span { background-position: 5px -500px; }
.c1046  span { background-position: 5px -550px; }
.c1070  span { background-position: 5px -600px; }
.c1018  span { background-position: 5px -650px; }
.c1014  span { background-position: 5px -700px; }
.c929  span {  background-position: 5px -750px; }
.c906  span {  background-position: 5px -800px; }
.c928  span {  background-position: 5px -850px; }
.c938  span {  background-position: 5px -900px; }
.c941  span {  background-position: 5px -950px; }
.c937  span {  background-position: 5px -1000px; }
.c919  span {  background-position: 5px -1050px; }
.c911  span {  background-position: 5px -1100px; }
.c904  span {  background-position: 5px -1150px; }
.c935  span {  background-position: 5px -1200px; }
.c926  span {  background-position: 5px -1250px; }
.c901  span {  background-position: 5px -1300px; }
.c902  span {  background-position: 5px -1350px; }
.c940  span {  background-position: 5px -1400px; }
.c912  span {  background-position: 5px -1450px; }


/**
* university page addons
**/
.uniList img {
  width: 45px;
}

.uniList li:nth-child(1) img {
	width: 0;
}

/**
* sshf adjust
**/
.intro .col-sm-4 img {
	width: 100%;
	margin-top: 15%;
}


/**
* front hack adjust
**/
section.punkter 
{
	background: #3fc185;
	padding-top: 30px;
}
section.searchLinks {
	background: #f0f2f4;
	padding-top: 30px;
}

.searchLinks .icon,
.clrs .icon 
{
	height: 100px;
	width: 100px;
	line-height: 100px;
	display: inline-block;
	margin: 0 10px;
}

.searchLinks .pe, .clrs .pe {
	font-size: 1em;
	top: 0.13em;
}

.searchLinks .knapp {
  min-width: 200px;
  max-width: 400px;
}



@font-face {
	font-family: 'fvnicon';
	src:url('http://static.fvn.no/fonts/fvnicon/fvnicon.eot?-wglozz');
	src:url('http://static.fvn.no/fonts/fvnicon/fvnicon.eot?#iefix-wglozz') format('embedded-opentype'),
		url('http://static.fvn.no/fonts/fvnicon/fvnicon.woff?-wglozz') format('woff'),
		url('http://static.fvn.no/fonts/fvnicon/fvnicon.ttf?-wglozz') format('truetype'),
		url('http://static.fvn.no/fonts/fvnicon/fvnicon.svg?-wglozz#fvnicon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'fvnicon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.icon-fvn:before {
	content: "\e600";
}
.icon-f:before {
	content: "\e602";
}
.icon-fv:before {
	content: "\e604";
}
.icon-ftv:before {
	content: "\e605";
}
.icon-menu:before {
	content: "\e606";
}
.icon-menu2:before {
	content: "\e607";
}
.icon-menu3:before {
	content: "\e609";
}
.icon-menuR:before {
	content: "\e60a";
}
.icon-back:before {
	content: "\e60b";
}
.icon-forward:before {
	content: "\e60c";
}
.icon-flag:before {
	content: "\e60d";
}
.icon-link:before {
	content: "\e60e";
}
.icon-talk:before {
	content: "\e60f";
}
.icon-mail:before {
	content: "\e610";
}
.icon-call:before {
	content: "\e611";
}
.icon-popular:before {
	content: "\e612";
}
.icon-time:before {
	content: "\e613";
}
.icon-cog:before {
	content: "\e614";
}

.icon-f:before {
	content: "\e602";
	display: inline-block;
	height: 30px;
	width: 30px;
	border: 1px solid white;
	border-radius: 15px;
	background: white;
	font-size: 20px;
	line-height: 29px;
}

@font-face {
	font-family: 'Pe-icon-7-stroke';
	src:url('/open/fonts/Pe-icon-7-stroke.eot?d7yf1v');
	src:url('/open/fonts/Pe-icon-7-stroke.eot?#iefixd7yf1v') format('embedded-opentype'),
		url('/open/fonts/Pe-icon-7-stroke.woff?d7yf1v') format('woff'),
		url('/open/fonts/Pe-icon-7-stroke.ttf?d7yf1v') format('truetype'),
		url('/open/fonts/Pe-icon-7-stroke.svg?d7yf1v#Pe-icon-7-stroke') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="pe-7s-"], [class*=" pe-7s-"] {
	font-family: 'Pe-icon-7-stroke';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.pe-7s-note2:before {
	content: "\e69d";
}
.pe-7s-look:before {
	content: "\e63e";
}
.pe-7s-search:before {
	content: "\e618";
}

/*

lysgrÃ¸nn #3fc185
mellomgrÃ¸nn #25744f
mÃ¸rkgrÃ¸nn #184e35

"black" #0c271a


*/

html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
} 



/* ! normalize.css v1.0.0 | MIT License | git.io/normalize */
 
/* ==========================================================================
HTML5 display definitions
========================================================================== */
 
/* * Corrects `block` display not defined in IE 6/7/8/9 and Firefox 3. */
 
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { display: block; }
/* * Corrects `inline-block` display not defined in IE 6/7/8/9 and Firefox 3. */
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
/* * Prevents modern browsers from displaying `audio` without controls.
* Remove excess height in iOS 5 devices. */
audio:not([controls]) { display: none; height: 0; }
/* * Addresses styling for `hidden` attribute not present in IE 7/8/9, Firefox 3, * and Safari 4.
* Known issue:no IE 6 support. */
[hidden] { display: none; }
/* ==========================================================================
Base
========================================================================== */
/* * 1. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
*    `em` units.
* 2. Prevents iOS text size adjust after orientation change, without disabling
*    user zoom. */
 
html { font-size: 100%; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
-ms-text-size-adjust: 100%; /* 2 */ }
html, html a { -webkit-font-smoothing: antialiased; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }
/* * Addresses `font-family` inconsistency between `textarea` and other form
* elements. */
html, button, input, select, textarea { font-family: 'Varela Round', sans-serif; }
/* * Addresses margins handled incorrectly in IE 6/7. */
body { margin: 0; font-family: 'Varela Round', sans-serif; }
/* ==========================================================================
Links
========================================================================== */
/* * Addresses `outline` inconsistency between Chrome and other browsers. */
 
a:focus { outline: thin dotted; }
/* * Improves readability when focused and also mouse hovered in all browsers. */
a:active, a:hover { outline: 0; }
/* ==========================================================================
Typography
========================================================================== */
/* * Addresses font sizes and margins set differently in IE 6/7.
* Addresses font sizes within `section` and `article` in Firefox 4+, Safari 5, * and Chrome. */
 
h1 { font-size: 2em; margin: 0.67em 0; color: #353535; }
h2 { font-size: 1.5em; margin: 0.83em 0; }
h3 { font-size: 1.17em; margin: 1em 0; }
h4 { font-size: 1em; margin: 1.33em 0; }
h5 { font-size: 0.83em; margin: 1.67em 0; }
h6 { font-size: 0.75em; margin: 2.33em 0; }
/* * Addresses styling not present in IE 7/8/9, Safari 5, and Chrome. */
abbr[title] { border-bottom: 1px dotted; }
/* * Addresses style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome. */
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
/* * Addresses styling not present in Safari 5 and Chrome. */
dfn { font-style: italic; }
/* * Addresses styling not present in IE 6/7/8/9. */
mark { background: #ff0; color: #000; }
/* * Addresses margins set differently in IE 6/7. */
p, pre { margin: 1em 0; }
/* * Corrects font family set oddly in IE 6, Safari 4/5, and Chrome. */
code, kbd, pre, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
/* * Improves readability of pre-formatted text in all browsers. */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
/* * Addresses CSS quotes not supported in IE 6/7. */
q { quotes: none; }
/* * Addresses `quotes` property not supported in Safari 4. */
q:before, q:after { content: ''; content: none; }
small { font-size: 75%; }
/* * Prevents `sub` and `sup` affecting `line-height` in all browsers. */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
/* ==========================================================================
Lists
========================================================================== */
/* * Addresses margins set differently in IE 6/7. */
 
dl, menu, ol, ul { margin: 1em 0; }
dd { margin: 0 0 0 40px; }
/* * Addresses paddings set differently in IE 6/7. */
menu, ol, ul { padding: 0 0 0 40px; }
/* * Corrects list images handled incorrectly in IE 7. */
nav ul, nav ol { list-style: none; list-style-image: none; }
/* ==========================================================================
Embedded content
========================================================================== */
/* * 1. Removes border when inside `a` element in IE 6/7/8/9 and Firefox 3.
* 2. Improves image quality when scaled in IE 7. */
 
img { border: 0; /* 1 */
-ms-interpolation-mode: bicubic; /* 2 */ }
/* * Corrects overflow displayed oddly in IE 9. */
svg:not(:root) { overflow: hidden; }
/* ==========================================================================
Figures
========================================================================== */
/* * Addresses margin not present in IE 6/7/8/9, Safari 5, and Opera 11. */
 
figure { margin: 0; }
/* ==========================================================================
Forms
========================================================================== */
/* * Corrects margin displayed oddly in IE 6/7. */
 
form { margin: 0; }
/* * Define consistent border, margin, and padding. */
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }
/* * 1. Corrects color not being inherited in IE 6/7/8/9.
* 2. Corrects text not wrapping in Firefox 3.
* 3. Corrects alignment displayed oddly in IE 6/7. */
legend { border: 0; /* 1 */
	padding: 0; white-space: normal; /* 2 */
*margin-left: -7px; /* 3 */ }
/* * 1. Corrects font size not being inherited in all browsers.
* 2. Addresses margins set differently in IE 6/7, Firefox 3+, Safari 5, *    and Chrome.
* 3. Improves appearance and consistency in all browsers. */
button, input, select, textarea { font-size: 100%; /* 1 */
	margin: 0; /* 2 */
	vertical-align: baseline; /* 3 */
*vertical-align: middle; /* 3 */ }
/* * Addresses Firefox 3+ setting `line-height` on `input` using ` !important` in
* the UA stylesheet. */
button, input { line-height: normal; }
/* * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
*    and `video` controls.
* 2. Corrects inability to style clickable `input` types in iOS.
* 3. Improves usability and consistency of cursor style between image-type
*    `input` and others.
* 4. Removes inner spacing in IE 7 without affecting normal text inputs.
*    Known issue:inner spacing remains in IE 6. */
button, html input[type="button"], /* 1 */
input[type="reset"], input[type="submit"] { -webkit-appearance: button; /* 2 */
	cursor: pointer; /* 3 */
*overflow: visible; /* 4 */ }
/* * Re-set default cursor for disabled elements. */
button[disabled], input[disabled] { cursor: default; }
/* * 1. Addresses box sizing set to content-box in IE 8/9.
* 2. Removes excess padding in IE 8/9.
* 3. Removes excess padding in IE 7.
*    Known issue:excess padding remains in IE 6. */
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
	*height: 13px; /* 3 */
*width: 13px; /* 3 */ }
/* * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
* 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
*    (include `-moz` to future-proof). */
input[type="search"] { -webkit-appearance: textfield; /* 1 */
	-moz-box-sizing: content-box; -webkit-box-sizing: content-box; /* 2 */
box-sizing: content-box; }
/* * Removes inner padding and search cancel button in Safari 5 and Chrome
* on OS X. */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
/* * Removes inner padding and border in Firefox 3+. */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
/* * 1. Removes default vertical scrollbar in IE 6/7/8/9.
* 2. Improves readability and alignment in all browsers. */
textarea { overflow: auto; /* 1 */
vertical-align: top; /* 2 */ }
/* ==========================================================================
Tables
========================================================================== */
/* * Remove most spacing between table cells. */
table { border-collapse: collapse; border-spacing: 0; }
/* ==========================================================================
Global Styles
========================================================================== */
a { color: #396050;
 -webkit-transition: all 0.25s; -moz-transition: all 0.25s; -o-transition: all 0.25s; transition: all 0.25s; }
a:hover, a:focus { color: #3fc185; text-decoration: none; }
p { color: #8c9398; word-spacing: 1px; line-height: 25px; font-size: 14px; }
h2 { font-size: 15px; color: #353535; text-transform: uppercase; font-weight: bold; }
h2::after { content: " "; border: solid 2px #3fc185; display: block; width: 35px; margin: 25px auto; }
.section-padding { padding: 90px 0 100px }
.dark-bg { background: #f3f5f8; }
.light-bg { background-color: #fff; }
.dark-box { background: #f3f5f8; -webkit-box-shadow: 0px 3px 0px 0px #f0f2f4; -moz-box-shadow: 0px 3px 0px 0px #f0f2f4; box-shadow: 0px 3px 0px 0px #f0f2f4; }
.light-box { background-color: #fff; -webkit-box-shadow: 0px 3px 0px 0px #f0f2f4; -moz-box-shadow: 0px 3px 0px 0px #f0f2f4; box-shadow: 0px 3px 0px 0px #f0f2f4; padding: 20px 0; }
.light-box:hover, .light-box:focus { -webkit-box-shadow: 0px 3px 0px 0px #3fc185; -moz-box-shadow: 0px 3px 0px 0px #3fc185; box-shadow: 0px 3px 0px 0px #3fc185; }
.box-hover { transition: all 500ms ease-in-out; -webkit-transition: all 500ms ease-in-out; -moz-transition: all 500ms ease-in-out; -o-transition: all 500ms ease-in-out; }
.box-hover:hover, .box-hover:focus { transform: translate(0, -15px); -webkit-transform: translate(0, -15px); -ms-transform: translate(0, -15px); }
.wrapper { height: 650px; }
.nopadding { padding: 0; }
.inner { padding-top: 170px; }
/* ==========================================================================
Navigation
========================================================================== */
nav { background-color: #242830; margin-top: -1px; }
nav ul { list-style: none; padding: 0; }
nav ul li { color: rgba(255, 255, 255, 0.6); display: block; border-bottom: 1px dotted rgba(255, 255, 255, 0.2); transition: all 0.5s ease; -moz-transition: all 0.5s ease; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; padding-left: 0; position: relative; }
nav ul li:last-child { border: none; }
nav ul li a { color: rgba(255, 255, 255, 0.6); display: block; padding: 20px; transition: all 0.5s ease; -moz-transition: all 0.5s ease; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; padding-left: 0; position: relative; }
nav ul li a:hover, nav ul li a:focus { text-decoration: none; color: rgba(255, 255, 255, 1); }
#nav-toggle { position: absolute; right: 15px; top: 0; }
#nav-toggle { cursor: pointer; padding: 10px 35px 16px 0px; }
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after { cursor: pointer; border-radius: 1px; -moz-border-radius: 1px; -webkit-border-radius: 1px; -o-border-radius: 1px; height: 5px; width: 35px; background: #353535; position: absolute; display: block; content: ''; }
#nav-toggle span:before { top: -10px; }
#nav-toggle span:after { bottom: -10px; }
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after { transition: all 500ms ease-in-out; -webkit-transition: all 500ms ease-in-out; -moz-transition: all 500ms ease-in-out; -o-transition: all 500ms ease-in-out; }
#nav-toggle.active span { background-color: transparent; }
#nav-toggle.active span:before, #nav-toggle.active span:after { top: 0; }
#nav-toggle.active span:before { transform: rotate(45deg); -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); }
#nav-toggle.active span:after { transform: translateY(-10px) rotate(-45deg); -webkit-transform: translateY(-10px) rotate(-45deg); -ms-transform: translateY(-10px) rotate(-45deg); top: 10px; }
.navicon { position: relative; height: 26px; color: #f0f2f4;}
.indicator { position: absolute; right: 0 !important; }
.pull { display: none; }
/* ==========================================================================
fvn_navn
========================================================================== */
/*

lysgrÃ¸nn #3fc185
mellomgrÃ¸nn #25744f
mÃ¸rkgrÃ¸nn #184e35

"black" #0c271a


*/



section.topp, footer { 
    background: #0c271a;
    margin: 0;
    height: auto; 
    width: 100%;
    color: #888; 
    padding:20px; 
    font-size: 14px;
    text-align: right;
}
footer { 
    background: #0c271a;
}
section.topp .vektor {
width:3vw;
height:3vw;
min-width: 40px;
min-height: 40px;
margin-left: 10px;
}

.logo {
fill: #f0f2f4;    
}


.fvn_navn { 
background: #fff;
padding: 60px 0 140px 0; 
height: auto; 
}
.fvn_navn h1 {  
    padding: 0; 
    color: #184e35; 
    font-size: 3.4em; 
    letter-spacing: 4px; 
    display: inline-block;  
    vertical-align: middle; 
    margin: 0;
}
.fvn_navn h1 span { 
    display: inline-block; 
}
.fvn_navn h1 span:last-child { 
    color: #3fc185;  
}

.fvn_navn .scroll_to_search_btn {
margin-top: 3em;
}


.knapp { 
    margin: 20px 5% 0 5%; 
    background: #3fc185; 
    padding: 20px 40px; 

    color: #fff; 
    text-transform: uppercase; 
    letter-spacing: 1px; 
    display: inline-block;  
    font-weight: bold;
}
.knapp:hover, .knapp:focus { 
    background: #25744f; 
    color: #fff; 
}








.knapp {
-webkit-transition: all 0.75s cubic-bezier(0, .5, 0, 1);
  -moz-transition: all 0.75s cubic-bezier(0, .5, 0, 1);
  -ms-transition: all 0.75s cubic-bezier(0, .5, 0, 1);
  -o-transition: all 0.75s cubic-bezier(0, .5, 0, 1);
  transition: all 0.75s cubic-bezier(0, .5, 0, 1);
    
}

.knapp.bra,
.knapp.ok,
.knapp.nei {
border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; -o-border-radius: 0;
color: #184e35;
background: #f0f2f4;   
}

.knapp.bra {
border-left: 8px solid #3fc185; 
}
.knapp.ok {
border-left: 8px solid #3cc1d9; 
}
.knapp.nei {
border-left: 8px solid #fc5656; 
}

.knapp.bra:hover {
border-left: 80px solid #3fc185; 
}
.knapp.ok:hover {
border-left: 80px solid #3cc1d9; 
}
.knapp.nei:hover {
border-left: 80px solid #fc5656; 
}



.inputs_options_text .knapp2 {
    padding:1em 2em;
    margin:2px 0;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    display:inline-block;
    background:#25744f;
    border:none;
}

.inputs_options_text .knapp2.ok {
    background:#fafafa;
    color:#25744f;
}
.inputs_options_text .knapp2.nei {
    background:#fc5656;
}



.inputs_options_text .knapp2:hover {
background:#184e35;
color:#fff;
    border:none;

}



/*

lysgrÃ¸nn #3fc185
mellomgrÃ¸nn #25744f
mÃ¸rkgrÃ¸nn #184e35

"black" #0c271a


*/



.vektor {
width: 15em;
height: 15em;
display: inline-block;
padding: 0;
margin-left: 3.5em;
vertical-align: middle;

}
.light {
fill: #3fc185;
}
.dark {
fill: #184e35;    
}
.circ {
fill: #fff;    
}


/* ==========================================================================
inputs
========================================================================== */
.inputs { 
    padding:0 0 80px 0;
}
.inputs p { 
    margin: 50px 0 0;
}


.inputs h1 {
 font-size:1.8em;   
}


.undertittel h1 {
font-size:1.8em;  
padding: 120px 0 20px 0;    
color:#fff; 

}


.ng_paginate_text {
font-size:1.2em;  
padding: 80px 0;    
color:#3fc185; 
}

.ng_paginate_text.below {
text-transform: uppercase;
letter-spacing: 2px;
font-size: 1em;

    
}


.inputs_options_text::before { 
    content: " "; 
    display: block; 
    width: 120px; 
    margin: 25px auto; 
    height:4px;
    background: #25744f;
}


.inputs_options_text,
.inputs_options {
display:none;    
}


.inputs_options_text,
.inputs_options {
    padding: 0;    
    margin: 0 auto;
    text-align: center;
}


.inputs_options_text {
    padding: 0 0 100px 0;    
     margin: 0 auto;
    color:#184e35;
}

.inputs_options_text h1,
.inputs_options_text p {
    color:#184e35;
margin:0 0 20px 0;
padding:0;
}

.inputs_options_text a {
color:#fff;
border-bottom: 1px solid transparent;
    
}
.inputs_options_text a:hover {
border-bottom: 1px solid #fff;
}

.inputs_options_text div.row,
.inputs_options div.row {
display: none;
opacity:0;    
}

.inputs_options_text.visible,
.inputs_options_text div.row.visible,
.inputs_options.visible,
.inputs_options div.row.visible {
display:block;   
opacity: 1;
}

.inputs_options div.checker {

    background: #fff; 
    color: #396050; 
    text-transform: uppercase; 
    letter-spacing: 1px; 
    padding: 0.5em 1em;  
    margin: 4px 2px;
    width: auto;
    display: inline-block;
    font-size: 0.8em;
    transition: all 0.25s ease; 
    -moz-transition: all 0.25s ease; 
    -webkit-transition: all 0.25s ease; 
    -o-transition: all 0.25s ease; 
    cursor: pointer;
    border-radius: 6px;
    
}

.inputs_options div.checker.selected:hover,
.inputs_options div.checker.selected {
    color: #fff; 
    background: #396050;     
}
.inputs_options div.checker:hover {
    background: #d3d9de;     
}

.inputs_options {
 padding-bottom:20px;   
}


.ng_image {
    max-width: 80%;
    width: 80%;
    height: auto;
    margin-top:40px;
}

.advanced_search {
opacity:0;    
color:#f0f2f4;
margin: 10px 0;
pointer-events: none;
}
.advanced_search.active {
opacity:1;
cursor: pointer;
pointer-events:all;

}
.advanced_search span.pe {
color:#f0f2f4;
margin-left: 10px;
}

.advanced_search:before {
content: "Flere ";
}
.advanced_search.expanded:before {
content: "FÃ¦rre ";
}


.ng_contents_pages {
padding: 60px 0 200px 0;    
}

.ng_contents_pages h1 {
display: inline-block;
margin: 0 auto;
font-size:1.8em;  
color:#0c271a; 
padding-bottom: 10px;
border-bottom: 1px solid #d3d9de;
}
.ng_contents_pages h1 span {
font-size:14px;  
opacity: 0.3;
text-transform: uppercase;
letter-spacing: 2px;
margin-right:8px;   
}

.ng_contents_pages .sub {
font-size:14px;  
color:#3fc185; 
text-transform: uppercase;
letter-spacing: 2px;
padding: 14px 0 20px 0;
}




.ng_contents.ng_header {
background: white;
}

.ng_contents.ng_header .ng_nav {
background: white;
color:#f0f2f4;
padding: 40px;
position: relative;
}
.ng_contents.ng_header .ng_nav:last-child {
border-bottom: 1px solid #f0f2f4;
}
.ng_contents.ng_header .ng_nav.ng_no_hits {
background: #0c271a;
color:#f0f2f4;
padding: 40px;
position: relative;
}



.ng_nextprev_btn {
    position: absolute;
    right:5%;
    top:0;
    background: transparent; 
    color:#0c271a;
    text-transform: uppercase; 
    letter-spacing: 2px; 
    border: none;
    transition: all 0.25s ease; 
    -moz-transition: all 0.25s ease; 
    -webkit-transition: all 0.25s ease; 
    -o-transition: all 0.25s ease; 
    padding: 1em 2em;    
    margin:3px 2px;
    display: inline-block;   
}

.ng_nextprev_btn.prev {
    right:auto;
    left: 5%;
}

.ng_nextprev_btn:hover {
color:#3fc185;
}
.ng_nextprev_btn:hover span.pe {
color:#3fc185;
margin: 0 4px;
}

.ng_nextprev_btn span.pe {
transition: all 0.25s ease; 
-moz-transition: all 0.25s ease; 
-webkit-transition: all 0.25s ease; 
-o-transition: all 0.25s ease; 
font-size: 3.4em;
color:#0c271a;
display: inline-block;
position: relative;
top:11px;
}

.ng_nextprev_text {
position: relative;
top:-5px;    
padding:0 8px;    
}


.ng_expand_bestill {
display: block;
}



.ng_expand_bestill_row {
margin: 10px 0;
padding: 0;
}



.ng_expand_bestill_row:hover .sub {
color: #3fc185;
}

input:focus::-webkit-input-placeholder{
    color: transparent!important;
}
input:focus::-moz-placeholder{
    color: transparent!important;
}
input:focus:-moz-placeholder{
    color: transparent!important;
}




.ng_expand_bestill_doknr_manuelt span[type=text],
.ng_expand_bestill_doknr_manuelt input[type=text] { 
    font-size:14px;
    background-color: #fff; 
    border: none; 
    padding: 1em 2em; 
    width: 65%; 
    color: #0c271a;
    font-family: 'Varela Round', sans-serif;
    text-align: left;
    height:4em;
    margin: 0;
white-space: nowrap;
overflow:hidden;     
}
.ng_expand_bestill_doknr_manuelt span[type=text] span {
max-width: 65%;
overflow: hidden;
white-space: nowrap;
position: relative;
top: 4px;
}


.ng_expand_bestill_doknr_manuelt input[type=text]:focus { 
outline: none;
}

.ng_expand_bestill_doknr_manuelt input[type=submit] { 
    font-size:14px;
    width:15%;
    background: #d3d9de; 
    border: none; 
    padding: 1em 2em; 
    color: #25744f; 
    letter-spacing: 1px;
    text-transform: uppercase; 
    letter-spacing: 1px; 
    transition: all 0.5s ease; 
    -moz-transition: all 0.5s ease; 
    -webkit-transition: all 0.5s ease; 
    -o-transition: all 0.5s ease; 
    height:4em;
    margin: 0;

}
.ng_expand_bestill_doknr_manuelt input[type=submit]:hover { 
background: #3fc185;
color: #fff;
cursor: pointer;
outline: none;
}


.ng_expand_bestill em {
max-width: 80%;    
}


.show_text_doc {
margin-top:40px;
cursor: pointer;
font-size:1.4em;
text-transform: uppercase;
letter-spacing: 2px;
color: #25744f;
}

.show_text_doc:hover {
color: #3fc185;
}

/* ==========================================================================





/* ==========================================================================
punkter
========================================================================== */
.punkter-padding {
    
    margin: 0; 
    padding: 40px 0;

}

.icon { 
    background: #fff;
    height: 175px; width: 175px; line-height: 175px; max-width: 100%; 
    border-radius: 50%; -o-border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; display: block; color: #fff; font-size: 55px; text-align: center; vertical-align: middle; position: relative; margin: 0 auto 30px; }
.pe {
font-size:1.6em;
position: relative;
top: 0.26em;
color: #184e35;
    
}
.punkter p {
margin-bottom:60px;    
    
}



.scroll_to_top_btn {
    background: #3fc185; 
    display: block; 
    text-align: center; 
    position: absolute; 
    bottom: -50px; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width:100px;
    height:100px;
    border-radius:50%;    
    z-index: 999;
}
.scroll_to_top_btn span {
    position: relative;
    top:15px;
    font-size: 5em;
    color: #184e35;
}
.scroll_to_top_btn:hover {
    background: #184e35; 
}
.scroll_to_top_btn:hover span {
    color: #fff;
}


#ng_pages_wrapper {
    position: relative;
}


.scroll_to_search_btn { 
    letter-spacing: 1px;
    background: #3fc185; 
    display: inline-block; 
    margin: 0 auto; 
    color: #fff; 
    font-size: 18px; 
    text-align: center; 
    padding: 0.8em 2em;
    border-radius:6px;
}
.scroll_to_search_btn:hover, 
.scroll_to_search_btn:focus {
    color: #fff; 
    background: #184e35; 
}



.bestill_tilgang { 
    letter-spacing: 1px;
    background: #3fc185; 
    display: inline-block; 
    margin: 20px auto; 
    color: #fff; 
    font-size: 18px; 
    text-align: center; 
    padding: 1em 2em;
    max-width:50%;
    border-radius:6px;
cursor: pointer;
    line-height:1;
    
}
.bestill_tilgang:hover, 
.bestill_tilgang:focus {
    color: #fff; 
    background: #184e35; 
}





.punkter.clrs {
background: #fff;    
    
}


.punkter h2, .punkter p {
color: #396050;
}

.row.clr {
    padding:60px 0 20px 0;
    
}
.row.clr p {  word-spacing: 1px; line-height: 25px; font-size: 14px; }
.row.clr h2 { font-size: 15px;  text-transform: uppercase; font-weight: bold; }
/*
.row.clr h2::before { content: " "; display: block; width: 35px; height:35px; margin: 25px auto; border-radius: 50%; border:none; }
*/
.row.clr h2::after { content: " "; display: block; width: 120px; margin: 25px auto; }



.row.clr .col:nth-child(1) .clr h2::after {
  border: solid 3px #3fc185;
}
.row.clr .col:nth-child(2) .clr h2::after {
 border: solid 3px #3cc1d9;
}
.row.clr .col:nth-child(3) .clr h2::after {
 border: solid 3px #fc5656;
}


.clrs {
padding: 80px 0 160px 0;
}

.clrs h1 { font-size: 2.4em; text-transform: uppercase; letter-spacing: 2px; padding: 0;}
.clrs h1 span { display: block; font-size: 25px; margin-top: 20px; }



.clrs a  {
display: block;
margin: 0 auto;
overflow: hidden;
max-height: 7em;
padding:2em;
margin: 1em 0;
position: relative;
}

.clrs a span {
vertical-align:middle;  
line-height: 3.3;
float: left;
}

.clrs a img {
position: relative;
top: -2px;
width: 3em;
margin-right:20px;
float: left;

}
.clrs a img[src*='kristiansand'] {
top: -10px;
width:3.6em;
}
.clrs a span.pe {
position: absolute;
left:0;
}

.dimmed {
opacity:0.25;    
pointer-events: none;
}
.ng_dimmed {
opacity:0;    
}
.ng_hidden {
display:none;
}

.ng_transition {
    transition: all 0.3s ease; 
    -moz-transition: all 0.3s ease; 
    -webkit-transition: all 0.3s ease; 
    -o-transition: all 0.3s ease;     
}

.ng_results {
    
background: #f0f2f4;    
}




#andre_linker a span:last-child {
white-space: nowrap;
line-height: 1.5;
max-width: 70%;
text-align: left;
}


/* ==========================================================================
iPhone Section
========================================================================== */
.iphone { width: 50%; background: #f3f5f8; float: left; height: 100%; box-shadow: inset -15px -11px 40px -6px rgba(0, 0, 0, 0.1); -moz-box-shadow: inset -15px -11px 40px -6px rgba(0, 0, 0, 0.1); -webkit-box-shadow: inset -15px -11px 40px -6px rgba(0, 0, 0, 0.1); z-index: 1; }
.fluid-white { width: 50%; background: #fff; float: right; height: 100%; z-index: 2; }
.responsive-services { position: relative; }

/* ==========================================================================
Portfolio
========================================================================== */
.effects { padding-left: 15px; }
.effects .img { position: relative; margin-bottom: 50px; position: relative; z-index: 1; overflow: hidden; }
.effects .img:nth-child(n) { margin-right: 5px; }
.effects .img:first-child { margin-left: -15px; }
.effects .img:last-child { margin-right: 0; }
.effects .img img { display: block; margin: 0; padding: 0; height: auto; }
.overlay { display: block; position: absolute; z-index: 20; background: rgba(100, 194, 158, 0.8); overflow: hidden; transition: all 0.5s; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s; }
a.close-overlay { display: block; position: absolute; top: 0; right: 0; z-index: 100; width: 45px; height: 45px; font-size: 20px; font-weight: 700; color: #fff; line-height: 45px; text-align: center; background-color: #000; cursor: pointer; }
a.close-overlay.hidden { display: none; }
a.expand { display: block; position: absolute; z-index: 100; text-align: center; color: #fff; font-weight: 600; font-size: 14px; text-transform: uppercase; line-height: 30px; }
.overlay-effect .img i { font-size: 30px; }
.overlay-effect .overlay { bottom: 0; left: 0; right: 0; width: 100%; height: 100%; opacity: 0; }
.overlay-effect .overlay a.expand { left: 0; right: 0; bottom: 47%; margin: 0 auto -30px auto; }
.overlay-effect .img.hover .overlay { height: 100%; opacity: 1; }
.img img { width: -webkit-calc(100% + 40px) !important; width: calc(100% + 40px) !important; -webkit-transition: opacity 0.35s, -webkit-transform 0.35s; transition: opacity 0.35s, transform 0.35s; -moz-transition: opacity 0.35s, -moz-transform 0.35s; -o-transition: opacity 0.35s, -o-transform 0.35s; -webkit-transform: translate3d(-40px, 0, 0); transform: translate3d(-40px, 0, 0); -ms-transform: translate3d(-40px, 0, 0); }
.img:hover img { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); -ms-transform: translate3d(-40px, 0, 0); }
.designs { position: absolute; left: 0; right: 0; margin-left: auto; margin-right: auto; top: 50px; }



/* ==========================================================================
Footer
========================================================================== */
footer a { color: #3fc185; border-bottom:1px solid transparent; }
footer a:hover { border-bottom:1px solid #f0f2f4; }
footer p { color: #fff; }
ul.legals { padding-left:0;list-style: none; color: #fff; line-height: 25px; }
ul.legals li { display: inline-block; }
ul.legals li::after { content: " |"; }
ul.legals li:last-child::after { content: ""; }
.legals { text-align: left; }
.credit { text-align: right; }

/* ==========================================================================
FlexSlider Custom CSS
========================================================================== */
#servicesSlider { margin-top: 70px; }
ul.slides li { margin-bottom: 20px; }
/* ==========================================================================
Waypoints
========================================================================== */
.wp1, .wp2, .wp3, .wp4, .wp5, .wp6 { visibility: hidden; }
.bounceInLeft, .bounceInRight, .fadeInUp, .fadeInUpDelay, .fadeInDown, .fadeInUpD, .fadeInLeft, .fadeInRight { visibility: visible; }
.delay-05s { animation-delay: 0.5s; -webkit-animation-delay: 0.5s; }
.delay-1s { animation-delay: 1s; -webkit-animation-delay: 1s; }
.wp3 { background: url('../img/iphone-bg.png') no-repeat center center; background-position: 200px 10px; height: 100%; }






/* ==========================================================================
search
/* ========================================================================== */


#submitter {
    display: none;
    background: hsl(152, 51%, 40%); 
    color: hsl(152, 51%, 50%); 
    text-transform: uppercase; 
    letter-spacing: 1px; 
    border:none;
    padding: 2em 4em;    
    margin:40px 5% 0 5%;
    pointer-events: none;
    border-radius: 6px;
    transition: all 0.25s ease; 
    -moz-transition: all 0.25s ease; 
    -webkit-transition: all 0.25s ease; 
    -o-transition: all 0.25s ease;     
}

#submitter span.btn_text {
    display: inline-block;
    vertical-align:middle;
    max-width:80%;
    text-align: left;
}
#submitter span.pe {
    display: inline-block;
    vertical-align:middle;
    color:#fff;
    font-size:3.4em;    
    position: relative;
    top:-1px;   
    max-width:20%;
}



#submitter.active { 
    background: hsla(152, 53%, 20%, 1); 
    color:#fff;
    pointer-events:auto;
    display: block;

}


.ng_reset {
margin:0;
padding: 0;
display: inline-block;
}

.ng_row {
display: inline-block;
width:40%;
white-space: nowrap;

}


.ng_doc_pagination,
.ng_pages_btn,
.ng_results_btn {
    background: #fff; 
    color: #184e35; 
    transition: all 0.25s ease; 
    -moz-transition: all 0.25s ease; 
    -webkit-transition: all 0.25s ease; 
    -o-transition: all 0.25s ease; 
    border:none;
    padding: 1em 2em;    
    margin:3px 2px;
    display: inline-block;
    float: right;
}

.ng_pages_btn {
    width:3.2em;
    height:4.8em;
    background: #fff;
    text-align: center;
    padding: 0;
    margin: 0 2px;
    color: #aaa;
}



.ng_results_btn.btn-primary:hover,
.ng_results_btn.btn-primary {
    border-bottom: 3px solid #3fc185;
    background: #fff;
    color: #0c271a; 
}


.ng_pages_btn.btn-primary:hover,
.ng_pages_btn.btn-primary {
    background: #3fc185;
    color: #184e35;
}





.ng_pages_btn:hover { 
    background: #d3d9de; 
    color: #0c271a; 
}
.ng_results_btn:hover { 
    border-bottom: 3px solid #d3d9de; 
    color: #0c271a; 
}
#submitter.active:hover { 
    background: #25744f; 
    color: #fff;   
}

/*

lysgrÃ¸nn #3fc185
mellomgrÃ¸nn #25744f
mÃ¸rkgrÃ¸nn #184e35

"black" #0c271a


*/
ng_row2 {
text-align: center;
margin: 0 auto;
}



.ng_3cols {
position: relative;
min-height: 1px;
padding-left: 15px;
padding-right: 15px;
width:33.33333333%;    
float: left;    
white-space: nowrap!important;
overflow: hidden;
}

.ng_doc_pagination,
.ng_results_btn {
margin:0;
padding: 8px 0 2px 0;
width: auto;
float:left;
text-align: left;
}
.ng_doc_pagination {
display: inline;
float:left;
width:9%;
opacity: 0.5;
margin-right:4px;
}

.ng_results_btn {

    border-bottom: 3px solid transparent; 
    color: #888;
    white-space: nowrap;
    overflow: ellipsis;
    width: 80%;
    max-width:80%;
}




.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	width: 100%;
	vertical-align: top;

}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #000;
	color: #184e35;

	font-size:1.6em;
    font-weight: 300;
    font-family: 'Varela Round', sans-serif;

    -webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
    
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #f9f7f6;
	font-weight: 300;
	font-size: 1.6em;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}




.input__field_fvn {
	z-index: 10;
	padding: 1em;
	width: 100%;
	background: #fff;
	color: #25744f;
;
}

.input__label_fvn {
	position: relative;
	overflow: hidden;
	padding: 0;
	width: 100%;
	color: #25744f;
	text-align: left;
}


.input__label_fvn::after {
	content: attr(data-content);
	position: absolute;
	top: 0;
	left: 0;
	padding: 0.75em 0.15em;
	opacity: 0;
    
    	color: #184e35;

	-webkit-transform: translate3d(0, 50%, 0);
	transform: translate3d(0, 50%, 0);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	pointer-events: none;
}


.input__field_fvn:focus {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);

 	background: #fff;
   
}

.input__field_fvn:focus + .input__label_fvn {
	pointer-events: none;
}

.input__field_fvn:focus + .input__label_fvn::after {
	opacity: 0.4;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
    
}

.input__label-content_fvn {
	padding: 0.75em 0.15em;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.input__field_fvn:focus + .input__label_fvn .input__label-content_fvn {
	opacity: 0;
	-webkit-transform: translate3d(0, -50%, 0);
	transform: translate3d(0, -50%, 0);
}




@media screen and (max-width: 1000px) {

    
    #submitter input[type=submit] {
        white-space: normal;    
    }
    .fvn_navn h1 {
        font-size: 3em;
    } 
    .fvn_navn h1 span:last-child {
        font-size: 60%;
        padding: 10px 20px;
    }   
    section.topp {
        padding: 4px;
        text-align: center;
    }
    .vektor {
        width:10em;
        height:10em;
    }
    
    .fvn_navn {
        padding: 0 0 180px 0;
    }

    .scroll_to_search_btn {
        max-width: 80%;   
        top: -40px;
    }

    .ng_nextprev_text {
        font-size:0.6em;   
        
    }
    .ng_nextprev_btn {
        top: -60px;
        right: 2%;
    }
    .ng_nextprev_btn.prev {
        left: 2%;
    }

    .undertittel h1 {
    font-size: 1.8em;
    padding: 40px 0 20px 0;
    }
    
    .ng_3cols {
        
        width: 80%;
        margin-left:10%;
    }

    .ng_nav {
        margin-top: 60px;    
    }
    .ng_contents_pages h1 {
        font-size: 20px;
    }

    .ng_contents_pages h1 span {
        display: none;   
    }
    .bestill_tilgang { 
    max-width: 80%;
    font-size: 14px;
    }
    
    
    .input,
    .input__field {
        padding: 0.4em;
        width:90%;
        text-align: center;
        margin-left:5%;
        float: left;
        font-size: 1.4em;
    }


    .input__label {

        font-size: 1em;
        text-align: center;
        margin: 0 auto;
        padding: 0;
    }

    .ng_expand_bestill_row {
    padding:0;
    margin:0;
    width:100%;
    }

    .legals { text-align:center; }
    .credit { text-align:center; }

    #submitter span:last-child {
    display:none;    
    }
    #submitter span:first-child {
    max-width:100%;
    text-align: center;
    }    
    
}