@font-face {
    font-family: 'TitlingGothicFBComp';
    src: url("http://static.fvn.no/fonts/sysla/TitlingGothicFBComp-Medium.eot"),
         url("http://static.fvn.no/fonts/sysla/TitlingGothicFBComp-Medium.woff") format("woff"),
         url("http://static.fvn.no/fonts/sysla/TitlingGothicFBComp-Medium.ttf") format('truetype'),
         url("http://static.fvn.no/fonts/sysla/TitlingGothicFBComp-Medium.svg#TitlingGothicFBComp-Medium") format('svg'),
         url("http://static.fvn.no/fonts/sysla/TitlingGothicFBComp-Medium.eot?#iefix") format('embedded-opentype');
}

@font-face {
    font-family: 'TitlingGothicFBCond';
    src: url("http://static.fvn.no/fonts/sysla/TitlingGothicFBCond-Stand.eot"),
         url("http://static.fvn.no/fonts/sysla/TitlingGothicFBCond-Stand.woff") format("woff"),
         url("http://static.fvn.no/fonts/sysla/TitlingGothicFBCond-Stand.ttf") format('truetype'),
         url("http://static.fvn.no/fonts/sysla/TitlingGothicFBCond-Stand.svg#TitlingGothicFBCond-Stand") format('svg'),
         url("http://static.fvn.no/fonts/sysla/TitlingGothicFBCond-Stand.eot?#iefix") format('embedded-opentype');
}
#sysla {
    width: 980px;
    min-height: 340px;
    color: #121212;
    border-bottom: 5px solid #e41f26;
    margin-top: 0;
    overflow: auto;
}
#sysla a {
    color: #121212;
    text-decoration: none;
}
#sysla header, #sysla section {
    margin: 0;
}
#sysla header:after {
    content: "";
    display: table;
    clear: both;
}
#sysla header h1, #sysla header h1 a {
    font-family: "TitlingGothicFBCond";
    margin: 0;
    font-size: 67px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    float: left;
    text-decoration: none;
}
#sysla header p {
    font-family: "TitlingGothicFBCond";
    font-size: 16px;
    text-transform: uppercase;
    border-top: 5px solid #e41f26;
    clear: right;
    margin-left: 185px !important;
    padding-top: 5px;
}

#sysla article {
    margin-bottom: 10px;
    margin-top: 0;
    width: 310px;
    float: left;
    margin-right: 25px;
    font-size: 34px;
    line-height: 36px;
    font-family: "TitlingGothicFBComp";
}
#sysla article {
margin: 0;
margin-bottom: 10px;
margin-right: 25px;
width: 310px;
float: left;
font-size: 34px;
line-height: 36px;
font-family: "TitlingGothicFBComp";
}

#sysla article img {
    border: none;
    margin-bottom: 10px;
    height: auto;
    max-width: 100%;
}

#sysla section article:last-child {
    margin-right: 0;
}

#sysla .loading {
    text-align: center;
    font-family: "TitlingGothicFBCond";
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    position: relative;
    padding: 40px;
}
#sysla .loading p {
    display: inline-block;
    top: -8px;
    position: relative;
    margin-left: 10px;
}
