<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>


<div id="start15bors" class="full_round_ranks"></div>
<link type="text/css" rel="stylesheet" href="http://fvn.s3-website-eu-west-1.amazonaws.com/start15bors.css">
<script src="http://fvn.s3-website-eu-west-1.amazonaws.com/start15bors.js"></script>

<script>
// TODO; get from text
var thisID = 1;
var checkStr = "Spillerbørs";

/*
var wrapperId = '#start15bors';

function render_bors(data) {

	ranking_table = data['runde-'+thisID];
        
	$wrapperDiv = $(wrapperId);
	$wrapperDiv.hide();
    
    var players = {};
    var numPlayers = 0;
    var innbyttere = '';

    $.each(ranking_table, function() {
	    var player = {};
	    var id = '"'+this.id+'"';
	    var name = this.fornavn+' '+this.etternavn;
        if (this.score || this.innbytter) {
            player['name'] = name;
            player['score'] = this.score;
            player['innbytter'] = this.innbytter;
            player['bb'] = this.bb;
            player['tekst'] = this.tekst;
            player['bilde'] = 'https://s3-eu-west-1.amazonaws.com/fvn/start_spillere_bilder/'+this.id+'.jpg';
            players[id] = player;
            numPlayers++;
        }                
    });

    if ( numPlayers > 0 ) {
                        
		$wrapperDiv.append('<table /><table id="innbyttere'+thisID+'" />');
        var bolk = true;
        $.each( players, function(index) {
            if (this.score || this.innbytter) {
                var elem = this.innbytter ? $('#innbyttere'+thisID) : $wrapperDiv.find('table:first');

                var farge = 'ccc';
                if (this.score) {
                    if (this.score > 5) farge = '22cc22';
                    else if (this.score == 4 || this.score == 5) {
                        if ( this.innbytter ) farge = '666';
                        else farge = 'aaa';
                    }
                    else if (this.score < 4) farge = 'ff8080'; 
                }
                var thescore = this.score ? this.score : '-';
                var innbyttere = this.innbytter ? ' class="innbyttere"' : '';
                var bb = this.bb ? ' startsbeste' : '';                                

                if ( this.innbytter && bolk ) {
                    elem.prepend('<tr><td></td><td><div class="borsnavn" style="color:#aaa;">Innbyttere</div></td><td></td></tr>');           
                    bolk = false;
                }
                elem.append('<tr'+innbyttere+'><td class="poeng" style="color:#'+farge+';"><span>'+thescore+'</span></td></td><td class="borstekst"><div class="borsnavn">'+this.name+'</div><div class="borsomtale">'+this.tekst+'</div></td><td><div class="sirkel bgimg'+bb+'" style="background:url('+this.bilde+');"></div></td></tr>');                               
            }
        });
        
        $wrapperDiv.show();
    }            
                     
}
*/

jQuery(document).ready(function() {

var pS = $('.bodyText p');
var borsText = '';

if (pS.length > 0){
	borsText = pS.eq(0).text();
	thisID = borsText.substr(borsText.indexOf(checkStr) + checkStr.length, 3);
}

	$.ajax({
		url: 'https://s3-eu-west-1.amazonaws.com/fvn/start_spillerbors_2015.json',
		dataType:'json', 
		success: render_bors 
	});
});
</script>