@font-face {
	font-family: 'ui-icons';
	src:url('ui-icons/ui-icons.eot?-srh7v0');
	src:url('ui-icons/ui-icons.eot?#iefix-srh7v0') format('embedded-opentype'),
		url('ui-icons/ui-icons.woff?-srh7v0') format('woff'),
		url('ui-icons/ui-icons.ttf?-srh7v0') format('truetype'),
		url('ui-icons/ui-icons.svg?-srh7v0#ui-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="ui-icon-"], [class*=" ui-icon-"] {
	display: inline-block;
	font-family: 'ui-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ui-icon-align-bottom:before {
	content: "\e600";
}
.ui-icon-align-left:before {
	content: "\e601";
}
.ui-icon-align-right:before {
	content: "\e602";
}
.ui-icon-align-top:before {
	content: "\e603";
}
.ui-icon-angle-circle-down:before {
	content: "\e604";
}
.ui-icon-angle-circle-down-f:before {
	content: "\e678";
}
.ui-icon-angle-circle-left:before {
	content: "\e605";
}
.ui-icon-angle-circle-left-f:before {
	content: "\e679";
}
.ui-icon-angle-circle-right:before {
	content: "\e606";
}
.ui-icon-angle-circle-right-f:before {
	content: "\e67a";
}
.ui-icon-angle-circle-up:before {
	content: "\e607";
}
.ui-icon-angle-circle-up-f:before {
	content: "\e67b";
}
.ui-icon-angle-down:before {
	content: "\e608";
}
.ui-icon-angle-left:before {
	content: "\e609";
}
.ui-icon-angle-right:before {
	content: "\e60a";
}
.ui-icon-angle-up:before {
	content: "\e60b";
}
.ui-icon-arrow-circle-down:before {
	content: "\e60c";
}
.ui-icon-arrow-circle-down-f:before {
	content: "\e67c";
}
.ui-icon-arrow-circle-left:before {
	content: "\e60d";
}
.ui-icon-arrow-circle-left-f:before {
	content: "\e67d";
}
.ui-icon-arrow-circle-right:before {
	content: "\e60e";
}
.ui-icon-arrow-circle-right-f:before {
	content: "\e67e";
}
.ui-icon-arrow-circle-up:before {
	content: "\e60f";
}
.ui-icon-arrow-circle-up-f:before {
	content: "\e67f";
}
.ui-icon-arrow-down:before {
	content: "\e610";
}
.ui-icon-arrow-left:before {
	content: "\e611";
}
.ui-icon-arrow-right:before {
	content: "\e612";
}
.ui-icon-arrow-square-down:before {
	content: "\e613";
}
.ui-icon-arrow-square-down-f:before {
	content: "\e680";
}
.ui-icon-arrow-square-left:before {
	content: "\e614";
}
.ui-icon-arrow-square-left-f:before {
	content: "\e681";
}
.ui-icon-arrow-square-right:before {
	content: "\e615";
}
.ui-icon-arrow-square-right-f:before {
	content: "\e682";
}
.ui-icon-arrow-square-up:before {
	content: "\e616";
}
.ui-icon-arrow-square-up-f:before {
	content: "\e683";
}
.ui-icon-arrow-up:before {
	content: "\e617";
}
.ui-icon-arrows-d-1:before {
	content: "\e618";
}
.ui-icon-arrows-d-2:before {
	content: "\e619";
}
.ui-icon-arrows-h:before {
	content: "\e61a";
}
.ui-icon-arrows-v:before {
	content: "\e61b";
}
.ui-icon-back-1:before {
	content: "\e61c";
}
.ui-icon-back-1-f:before {
	content: "\e684";
}
.ui-icon-back-2:before {
	content: "\e61d";
}
.ui-icon-back-2-f:before {
	content: "\e685";
}
.ui-icon-back-circle:before {
	content: "\e61e";
}
.ui-icon-back-circle-f:before {
	content: "\e686";
}
.ui-icon-back:before {
	content: "\e61f";
}
.ui-icon-ban-square:before {
	content: "\e620";
}
.ui-icon-ban:before {
	content: "\e621";
}
.ui-icon-bars-menu:before {
	content: "\e622";
}
.ui-icon-check-circle-1:before {
	content: "\e623";
}
.ui-icon-check-circle-f:before {
	content: "\e687";
}
.ui-icon-check-circle-2:before {
	content: "\e624";
}
.ui-icon-check-square-1:before {
	content: "\e625";
}
.ui-icon-check-square-f:before {
	content: "\e688";
}
.ui-icon-check-square-2:before {
	content: "\e626";
}
.ui-icon-close-circle:before {
	content: "\e627";
}
.ui-icon-close-circle-f:before {
	content: "\e689";
}
.ui-icon-close-square:before {
	content: "\e628";
}
.ui-icon-close-square-f:before {
	content: "\e68a";
}
.ui-icon-compress-d-1:before {
	content: "\e629";
}
.ui-icon-compress-d-2:before {
	content: "\e62a";
}
.ui-icon-compress-full:before {
	content: "\e62b";
}
.ui-icon-compress-h:before {
	content: "\e62c";
}
.ui-icon-compress-margin:before {
	content: "\e62d";
}
.ui-icon-compress-margin-f:before {
	content: "\e68b";
}
.ui-icon-compress-v:before {
	content: "\e62e";
}
.ui-icon-cursor-square:before {
	content: "\e62f";
}
.ui-icon-cursor-square-f:before {
	content: "\e68c";
}
.ui-icon-distribute-h:before {
	content: "\e630";
}
.ui-icon-distribute-v:before {
	content: "\e631";
}
.ui-icon-double-side:before {
	content: "\e632";
}
.ui-icon-download-circle:before {
	content: "\e633";
}
.ui-icon-download-square:before {
	content: "\e634";
}
.ui-icon-ellipsis:before {
	content: "\e635";
}
.ui-icon-ellipsis-f:before {
	content: "\e68d";
}
.ui-icon-expand-d-1:before {
	content: "\e636";
}
.ui-icon-expand-d-2:before {
	content: "\e637";
}
.ui-icon-expand-full-1:before {
	content: "\e638";
}
.ui-icon-expand-full-2:before {
	content: "\e639";
}
.ui-icon-expand-h:before {
	content: "\e63a";
}
.ui-icon-expand-margin:before {
	content: "\e63b";
}
.ui-icon-expand-margin-f:before {
	content: "\e68e";
}
.ui-icon-expand-v:before {
	content: "\e63c";
}
.ui-icon-fork:before {
	content: "\e63d";
}
.ui-icon-infinite-loop:before {
	content: "\e63e";
}
.ui-icon-infinite:before {
	content: "\e63f";
}
.ui-icon-info-circle:before {
	content: "\e640";
}
.ui-icon-info-circle-f:before {
	content: "\e68f";
}
.ui-icon-inside:before {
	content: "\e641";
}
.ui-icon-layers:before {
	content: "\e642";
}
.ui-icon-layers-f:before {
	content: "\e690";
}
.ui-icon-list-circle:before {
	content: "\e643";
}
.ui-icon-list-circle-f:before {
	content: "\e691";
}
.ui-icon-list-side:before {
	content: "\e644";
}
.ui-icon-list-side-f:before {
	content: "\e692";
}
.ui-icon-list-square:before {
	content: "\e645";
}
.ui-icon-list-square-f:before {
	content: "\e693";
}
.ui-icon-list-th:before {
	content: "\e646";
}
.ui-icon-list-th-f:before {
	content: "\e694";
}
.ui-icon-loop-1:before {
	content: "\e647";
}
.ui-icon-loop-2:before {
	content: "\e648";
}
.ui-icon-loop-3:before {
	content: "\e649";
}
.ui-icon-loop-4:before {
	content: "\e64a";
}
.ui-icon-loop-5:before {
	content: "\e64b";
}
.ui-icon-ltr:before {
	content: "\e64c";
}
.ui-icon-maximize-left:before {
	content: "\e64d";
}
.ui-icon-maximize-left-f:before {
	content: "\e6aa";
}
.ui-icon-maximize-right:before {
	content: "\e64e";
}
.ui-icon-maximize-right-f:before {
	content: "\e6ab";
}
.ui-icon-maximize:before {
	content: "\e64f";
}
.ui-icon-maximize-f:before {
	content: "\e695";
}
.ui-icon-minimize:before {
	content: "\e650";
}
.ui-icon-minimize-f:before {
	content: "\e696";
}
.ui-icon-minus-circle:before {
	content: "\e651";
}
.ui-icon-minus-circle-f:before {
	content: "\e697";
}
.ui-icon-minus-square:before {
	content: "\e652";
}
.ui-icon-minus-square-f:before {
	content: "\e698";
}
.ui-icon-next-1:before {
	content: "\e653";
}
.ui-icon-next-1-f:before {
	content: "\e699";
}
.ui-icon-next-2:before {
	content: "\e654";
}
.ui-icon-next-2-f:before {
	content: "\e69a";
}
.ui-icon-next-circle:before {
	content: "\e655";
}
.ui-icon-next-circle-f:before {
	content: "\e69b";
}
.ui-icon-next:before {
	content: "\e656";
}
.ui-icon-outside:before {
	content: "\e657";
}
.ui-icon-plus-circle:before {
	content: "\e658";
}
.ui-icon-plus-circle-f:before {
	content: "\e69c";
}
.ui-icon-plus-square:before {
	content: "\e659";
}
.ui-icon-plus-square-f:before {
	content: "\e69d";
}
.ui-icon-power:before {
	content: "\e65a";
}
.ui-icon-question-circle:before {
	content: "\e65b";
}
.ui-icon-question-circle-f:before {
	content: "\e69e";
}
.ui-icon-recycle:before {
	content: "\e65c";
}
.ui-icon-refresh-1:before {
	content: "\e65d";
}
.ui-icon-refresh-point:before {
	content: "\e65e";
}
.ui-icon-reload-1:before {
	content: "\e65f";
}
.ui-icon-reload-2:before {
	content: "\e660";
}
.ui-icon-reload-time:before {
	content: "\e661";
}
.ui-icon-rtl:before {
	content: "\e662";
}
.ui-icon-search:before {
	content: "\e663";
}
.ui-icon-shield-nope:before {
	content: "\e664";
}
.ui-icon-shield-nope-f:before {
	content: "\e69f";
}
.ui-icon-shield-ok:before {
	content: "\e665";
}
.ui-icon-shield-ok-f:before {
	content: "\e6a0";
}
.ui-icon-shuffle:before {
	content: "\e666";
}
.ui-icon-sliders-circle:before {
	content: "\e667";
}
.ui-icon-sliders-circle-f:before {
	content: "\e6a1";
}
.ui-icon-sliders-flat:before {
	content: "\e668";
}
.ui-icon-slideshow:before {
	content: "\e669";
}
.ui-icon-slideshow-f:before {
	content: "\e6a2";
}
.ui-icon-splitter-h-1:before {
	content: "\e66a";
}
.ui-icon-splitter-h-2:before {
	content: "\e66b";
}
.ui-icon-splitter-v-1:before {
	content: "\e66c";
}
.ui-icon-splitter-v-2:before {
	content: "\e66d";
}
.ui-icon-star:before {
	content: "\e66e";
}
.ui-icon-star-f:before {
	content: "\e6a3";
}
.ui-icon-th-big:before {
	content: "\e66f";
}
.ui-icon-th-big-f:before {
	content: "\e6a4";
}
.ui-icon-th-circle:before {
	content: "\e670";
}
.ui-icon-th-circle-f:before {
	content: "\e6a5";
}
.ui-icon-th-small:before {
	content: "\e671";
}
.ui-icon-th-small-f:before {
	content: "\e6a6";
}
.ui-icon-timer:before {
	content: "\e672";
}
.ui-icon-upload-circle:before {
	content: "\e673";
}
.ui-icon-upload-square:before {
	content: "\e674";
}
.ui-icon-warning-circle:before {
	content: "\e675";
}
.ui-icon-warning-circle-f:before {
	content: "\e6a7";
}
.ui-icon-warning-hexa:before {
	content: "\e676";
}
.ui-icon-warning-hexa-f:before {
	content: "\e6a8";
}
.ui-icon-warning-triangle:before {
	content: "\e677";
}
.ui-icon-warning-triangle-f:before {
	content: "\e6a9";
}
